[2020-10-08 12:59] egisz commented on #422
Even after resolving this, build fails:
[code]

[2020-10-09 20:13] matthewconwa opened #423 "Wavshare 4.3 Inch Touchscreen Does Not Work"
- What phone do you have?
Xiaomi Mix Mix 3
- What OS version?
9PKQ1.190321.001
- What crankshaft version?
Crankshaft Openauto 0.2.3 2018-04-18 / Android Auto 5.6.603434-release
- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always repoducible.
Start pi -> Connect Phone -> Map Load

My config: Raspberry Pi 3B + Waveshare 15932 LCD 4,3"

I have a

[2020-10-09 20:40] egisz commented on #422
I successfully build aasdk and openauto from [presslab-us](https://github.com/presslab-us/aasdk) sources..
Keypress patch is working fine, crankshaft image also.

I used scripts from opencardev/prebuilds repo, buildsystem folder. Just modified git repo urls in scripts, pointed to presslab-us.
Maybe it's worth to make PR from his fork?
And then update prebuilds binaries? What do you think?

[2020-10-10 22:01] matt2005 commented on #421
Yeah prebuilts out of date, which has caused several issues. I'm in process of rebuilding the prebuilts. I had a few issues with the builds so am about to update them.

[2020-10-10 22:04] matt2005 commented on #422
Hmm, that's odd as i based my prebuilts on the presslab-us ones.
I'm in middle of rebuilding the prebuilts.

[2020-10-11 07:35] matt2005 commented on #422
Can you try my latest prebuilts?
I don't have a pi4 at the moment, so can only check on my pi3.
I've rebuilt the prebuilts in my repo from the latest code in the openauto and aadsk repos.

### In Dev mode, ssh to the pi containing the crankshaft image

- Get the new prebuilt binaries
[code]

[2020-10-11 07:40] matt2005 commented on #421
I've rebuilt the prebuilts can you try before I promote to the opencardev repo. [Please try newer prebuilts](https://github.com/opencardev/crankshaft/issues/422#issuecomment-706664254)

[2020-10-11 07:41] matt2005 commented on #420
I've rebuilt the prebuilts can you try before I promote to the opencardev repo. [Please try newer prebuilts](https://github.com/opencardev/crankshaft/issues/422#issuecomment-706664254)

[2020-10-11 07:43] matt2005 commented on #418
I've rebuilt the prebuilts can you try before I promote to the opencardev repo. [Please try newer prebuilts](https://github.com/opencardev/crankshaft/issues/422#issuecomment-706664254)

[2020-10-11 19:04] egisz commented on #422
Hi,

I tried, but... it crashes. on rpi4...
When I start it from cmdline, get error:
[code]
Tried from ssh terminal and also connected keyboard directly to RPI.

[2020-10-11 19:13] matt2005 commented on #422
please join so we can discuss
[Slack Channel](https://join.slack.com/t/newworkspace-48q7787/shared_invite/zt-i3f7r9xx-PSfpobCfNErBTGAHWArRhA)

[2020-10-12 21:54] matt2005 commented on #422
I've updated the previous post with the lastest branch

[2020-10-15 14:31] matt2005 commented on #420
Please try this release [alpha 5.5](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha5.5)
Download and write the image to sd.
Edit the config.txt to add the following to the bottom of the file
[code]

[2020-10-15 14:32] matt2005 commented on #422
Please try this release [alpha 5.5](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha5.5)

[2020-10-15 14:32] matt2005 commented on #421
Resolved in Alpha 5.5 [alpha 5.5](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha5.5)

[2020-10-15 14:32] #421 closed, assigned to matt2005

[2020-10-15 14:33] matt2005 commented on #418
Please try this release [alpha 5.5](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha5.5)

[2020-10-15 19:49] EVPower2k13 commented on #412
Hi everyone, sorry for the delay. I was really busy. I will not be able to continue on the project because I just sold my car and my new one has android auto. Thanks all for your effort for older car that need a good system like yours.

[2020-10-16 06:47] matt2005 commented on #423
Please try the latest release alpha7

[2020-10-16 06:53] matt2005 commented on #404
Please try latest release and let me know the results

[2020-10-16 06:54] matt2005 commented on #396
Please use latest release alpha 5.5

[2020-10-16 06:54] #396 closed, assigned to matt2005

[2020-10-16 15:41] Yokosa commented on #420
In the latest version alpha 5.5 everything works on my waveshare display. Thanks!

[2020-10-16 15:41] #420 closed, assigned to matt2005

[2020-10-16 18:34] matt2005 commented on #422
@egisz Can this now be closed?

[2020-10-16 18:35] matt2005 commented on #418
Now working

[2020-10-16 18:35] #418 closed, assigned to matt2005

[2020-10-17 20:31] matt2005 commented on #389
Can you try the latest release?

[2020-10-17 20:40] matt2005 commented on #372
@egisz I know you are using RCA. Have you experienced this issue with the latest release?

[2020-10-17 20:48] matt2005 commented on #37
This is resolved in alpha 55

[2020-10-17 20:48] #37 closed

[2020-10-17 20:49] matt2005 commented on #51
Resolved since alpha1

[2020-10-17 20:49] #51 closed

[2020-10-17 20:50] matt2005 commented on #112
Resolved in alpha 55

[2020-10-17 20:50] #112 closed

[2020-10-17 20:52] matt2005 commented on #116
Stale issue

[2020-10-17 20:52] #116 closed

[2020-10-17 21:17] matt2005 commented on #388
I can add support but I don't have hardware. So I'll need assistance testing it

[2020-10-17 21:22] matt2005 commented on #385
Can you try latest release alpha 55?

[2020-10-17 21:31] matt2005 commented on #366
Is this an issue in alpha 55?

[2020-10-20 05:29] egisz commented on #372
I am using rca output on rpi4, egl mode.

Everything works fine, I only needed to enable in [config.txt](https://www.raspberrypi.org/documentation/configuration/config-txt/video.md) (only needed for rpi4).

`enable_tvout=1`

[2020-10-20 17:25] #372 closed, assigned to nobody

[2020-10-20 17:26] #422 closed, assigned to matt2005

[2020-10-20 18:52] egisz commented on #394
I believe users are confused as mouse cursor is not visible by default.
It has to be enabled in settings, bu it's not that easy if you dont have touch screen...

It would be nice if mouse device is detected, it would enable cursor automatically.

[2020-10-20 21:54] matt2005 commented on #122
@chrisfromwa Rotary volume should work in alpha 6, there is a volume slider on the bottom on the main screen. Is this what you were after?

[2020-10-21 07:01] egisz opened #425 "Prebuilts script warning of not found packages (low priority)"
While running 1_prepare_build_system script, it blames not finding packages:
[code]

They are updated to

- libv4l-dev (missing)
- and librtaudio-dev (this is already in the script)

[2020-10-23 19:03] matt2005 commented on #425
I need to push my latest changes. I've already fixed the issue, just busy with work this week.

[2020-10-23 19:13] Edo-Bat opened #426 "pi4"
Does it work on raspberry pi 4?

[2020-10-23 22:01] matt2005 commented on #426
yes, several users have confirmed it is working.

[2020-10-23 22:01] #426 closed, assigned to nobody

[2020-10-23 22:13] matt2005 commented on #425
Updated prebuilt submodule to point the latest prebuilt commit

[2020-10-23 22:13] #425 closed, assigned to matt2005

[2020-10-26 23:18] matt2005 commented on #371
fixed in alpha7

[2020-10-26 23:18] #371 closed, assigned to matt2005

[2020-10-26 23:19] matt2005 commented on #385
fixed in alpha7

[2020-10-26 23:19] #385 closed, assigned to matt2005

[2020-10-26 23:19] matt2005 commented on #366
fixed in alpha7

[2020-10-26 23:19] #366 closed, assigned to matt2005, abraha2d

[2020-10-26 23:19] matt2005 commented on #308
fixed in alpha7

[2020-10-26 23:19] #308 closed, assigned to nobody

[2020-10-26 23:20] matt2005 commented on #419
fixed in alpha7

[2020-10-26 23:20] #419 closed, assigned to matt2005

[2020-10-29 07:30] PartisanEntity opened #429 "Virtualbox?"
Hi there,

Do you guys think it would be possible to get Crankshaft running on Virtualbox (on a Windows PC Host)? The idea is to set up an Android Auto test station as easily as possible (obviously as an alternative to installing Crankshaft on dedicated hardware such as a Raspberry Pi).

[2020-10-29 21:31] matt2005 commented on #429
It should be possible in qemu but I've never tried it

[2020-10-30 15:58] parkerlreed commented on #429
If you just need to test Android Auto functionality for your phone, there's a desktop head unit emulator from Google.

https://developer.android.com/training/cars/testing#install

[2020-11-19 06:54] mxdlinux opened #430 "Rpi4"
Hello everyone

I have an rpi4, and despite various attempts, the tsl2561 is recognized (this can be seen at boot) but the screen does not change the brightness, I cannot connect to wifi even by modifying the crankshaft_env.sh file and  no connection even wired

[2020-11-23 05:06] matthewconwa opened #431 "brightness - lack of reaction WaveShare 15932"
What phone do you have?
Xiaomi Mix Mix 3
What OS version?
9PKQ1.190321.001
What crankshaft version?
Crankshaft OpenCarOS csng-alpha7 2020-10-26 / Android Auto 5.6.603434-release

Hi,
I don't have any idea to run brightness up/down in WaveShare 15932. I connected GPIO pins to port 5,6 and next 22, 27 and I don't have any reaction to press the buttons. I debugged script crankshaft.bash and I explore

[2020-11-24 07:33] roelcoenders commented on #404
Buy a Anker powerline 2 usb cable, it solved my problems with returning to Crankshaft and disconecting problemen with a samsung S10.

[2020-11-27 00:07] matt2005 commented on #430
What screen are you using?

[2020-11-27 00:09] matt2005 commented on #431
I don't have a screen with brightness control but I'll have a look to see if I can figure the issue out.

[2020-11-27 07:15] mxdlinux commented on #430
I have the lcd 7 inch touchscreen original raspberry , why?

[2020-11-30 20:44] matt2005 commented on #431
@matthewconwa Is this the brighness modification that you have performed? [Waveshare PWM Brightness control](https://www.waveshare.com/w/upload/5/56/PWM_control_backlight_manual.pdf)

Or is this the screen you have [Waveshare 4.3 HDMI LCD (B)](https://www.waveshare.com/wiki/4.3inch_HDMI_LCD_(B))

[2020-12-04 14:39] h3krn commented on #429
I'm currently attempting to run crankshaft on qemu (as I currently dont have a rpi to play with). Based on documentation I found here.
https://azeria-labs.com/emulate-raspberry-pi-with-qemu/ and https://github.com/dhruvvyas90/qemu-rpi-kernel.

I've already figured out I need to modify hardcoded references from /dev/mmcblk0p2 to /dev/sda2. After that it is booting.

- On first boot it will resize t

[2020-12-04 18:52] h3krn commented on #429
Scratch my previous post (most of it). I've learned the proper kernel and dtb can be easily extracted from the first partition of the image and qemu can emulate the mmcblk0 device.

[code]
No solution yet for openauto crashing or missing wifi hardware though.

[2020-12-07 18:08] Ayybeeshafi commented on #352
This seemed to work for me.

[2020-12-09 12:00] KamiSchami opened #432 "Update"
Hi, how do i update a running system?  do I have to reinstall everything?

[2020-12-10 22:41] matt2005 commented on #432
What version are you running at the moment?

[2020-12-11 11:20] KamiSchami commented on #432
![20201210_130331](https://user-images.githubusercontent.com/67215246/101897664-2ddf7e00-3bab-11eb-9486-cbff47437616.jpg)

Is this the version?

[2020-12-14 14:01] luizricardo-co opened #433 "Waveshare 7" Touchscreen 1024x600 not working"
Hi guys, I installed the last release Crankshaft OpenCarOS csng-alpha7 2020-10-26 and not working on LCD 7inch. When I connect on my HDMI monitor works great, but when I connect on my HDMI LDC on show blue screen.
I putted sniping code on my config file and nothing.

hdmi_group=2
hdmi_mode=87
hdmi_cvt 1024 600 60 6 0 0 0
hdmi_drive=1

Anybody can help me?
Thanks!

[2020-12-16 08:32] nkhs9412235 opened #434 "Touchscreen bought from taobao doesn't work."
- What phone do you have? Redmi 10X Pro 5G

- What OS version? Android 10

- What crankshaft version? Crankshaft OpenCarOS csng-alpha7 2020-10-26

- Touchscreen doesn't work ,which can work on Raspberry Pi OS without any extra driver installed.
[https://item.taobao.com/item.htm?spm=a1z09.2.0.0.6ca02e8dIbsXo1&id=602629227113&_u=gv0q2e65612](https://item.taobao.com/item.htm?spm=a1z09.2.0.0.6ca02e8dI

[2020-12-16 12:09] #434 closed, assigned to nobody

[2020-12-16 12:10] nkhs9412235 commented on #434
It can work after I changed the cable.

[2020-12-17 17:41] Bisjob opened #435 "Crash after touchscreen driver installation"
Hi,
First of all thank you for you share of this project, it looks awsome.

I'm trying to use crankshaft with a Kuman 5 inches tft display : https://www.amazon.fr/gp/product/B01F3JI58G
I added the lines in the config file. The screen work well, but the touchscreen doens't.

During my investigation, I got a repetable crash :

- What crankshaft version?
Crankshaft OpenCarOS csng-alpha7 2020-10-26

-

[2020-12-20 01:33] matt2005 commented on #435
Can you share the config.txt from the sd card?

[2020-12-20 01:34] matt2005 commented on #433
Can you share the config.txt from the sd card

[2020-12-20 01:39] matt2005 commented on #432
It's a major update but if you backup the sd card and then connect pi to internet it should detect an update and you will be able to update. Otherwise you could setup another sd card with the latest release  and then copy over the crankshaft folder and edit config.txt for your setup if required.

[2020-12-21 13:40] Bisjob commented on #435
Here the modified config.txt file after touchscreen drivers installation :

[config.txt](https://github.com/opencardev/crankshaft/files/5724547/config.txt)

I tried to merge with the original file, but now succeed, I'm a noob in raspberry/linux, sorry for that

[2020-12-21 17:09] fishred opened #436 "Alpha7 - TSL 2561 Not working"
TS 2561 sensor stops working.

- What OS version?

- What crankshaft version?
 Crankshaft OpenCarOS csng-alpha7 2020-10-26

The issue will disappear if I switch back to the SD-card with image from 2019.

[2020-12-22 16:00] matt2005 commented on #436
Can you compare the config.txt from both versions? I don't have a tsl2561 so cannot test.

[2020-12-23 11:14] fishred commented on #436
Thank you for reminding.
Following is the diff. I had tried the dtparam and dtoverlay for i2c_arm and could not make it work.

[2020-12-23 11:26] sharavan-lab commented on #401
Hello everyone,
                      I am able to compile openauto in yocto. However I am stuck with this error with aasdk, is this due to cmake, can someone help with your insights.

Regards
Sharavan

Compilation Issues as below..

/home/sharavan/sara_raspi/raspi_build/workspace/sources/aasdk-ice/include/f1x/aasdk/IO/Promise.hpp:35:1: error: expected class-name before '{' token
|  {
|  ^
| /home

[2020-12-23 14:12] fishred commented on #436
Actually, from logging output on console, i can see the tsl 2561 has been detected and checked. it only does not work.

[2020-12-23 20:06] matthewconwa commented on #431
@matt2005 yes, exactly I have a display which you linked. I saw Waveshare PWM Brightness control (really thanks!) but I don't know to which port on display I should connect my pad. I don't see my display in this guideline.
This is my model

![image](https://user-images.githubusercontent.com/72628166/103033402-ab6b9c80-4562-11eb-92c8-9992efd6b460.png)

[2020-12-29 22:12] Basline-LineTech commented on #435
You don't need a driver for this screen. I have it installed. you just need to put this configs on the config.txt file after a fresh install.

[code]

[2021-01-02 13:29] BodoMinea commented on #408
This still seems to be an issue as of the latest release. I am running on CRANKSHAFT-NG 5.4.72-v7l+ #1356 (2020-10-26 / Build f8d7ba3), and no matter what I select in settings (Animation/Classic/Custom under the Boot Screen section of the CS Base tab), I only get the text-based log boot and shutdown sequence. I have tried with both the default splash/shutdown images and my own, both with dev mode

[2021-01-02 21:36] Sono-Gomorrha commented on #71
I've tried this today with the latest build of crankshaft and a Pixel 3a. In general same behavior as stated above.
I also tried to connect my phone via BT to the raspberry pi 3b+ I'm running CS on. In Android Auto this did indeed push the audio via BT to the USB soundcard and also used the speakers (ear plugs in my test setup) and microphone (usb soundcard).
But the quality was really strange and

[2021-01-03 09:57] matt2005 commented on #408
I haven't  tried it. I'm currently working on a few core issues at the moment.

[2021-01-07 19:52] matt2005 commented on #436
I'm waiting to receive the hardware so I can test. I'd guess it's an issue with the upgrade to Buster. Have you looked at the wiki page for the TSL 2591? [TSL 2591](https://github.com/opencardev/crankshaft/wiki/TSL2591)
If you look at the file on your crankshaft installation in line 22 in file /opt/crankshaft/service_lightsensor.py it mentions several id's. Try editing the file to match your I'd.

[2021-01-07 20:07] matt2005 commented on #435
Yes @Basline-LineTech is correct you shouldn't need to install drivers. It will require a change to the config.txt file as suggested above.

Please test and let us know the outcome.

[2021-01-07 20:08] matt2005 commented on #432
Did you manage to update?

[2021-01-07 20:10] matt2005 commented on #431
You could try and figure it out with a logic analyser. But it doesn't look like it has a plain brightness control as it appears to have a menu option system. If the up/down keys do the brightness you could connect one side of each button to a gpio and then ground the connection to simulate a button press.

[2021-01-07 20:16] matt2005 commented on #430
Related to #436 so closing this one

[2021-01-07 20:16] #430 closed, assigned to matt2005

[2021-01-07 20:17] matt2005 commented on #423
Did the screen work on latest release?

[2021-01-08 19:53] fishred commented on #436
@matt2005, I tried them, but none of them worked. And I checked my SD card with old version of crankshaft. it is also using 0x39.

[2021-01-08 23:25] matt2005 commented on #436
I'll have a look over the weekend, I don't have the hardware yet but will check that it's being called, as it might not be executing.

[2021-01-10 14:12] BodoMinea opened #437 "Using TSL2591 lux sensor as per wiki instructions, getting warning on boot"
Hi, I have followed the wiki instructions (https://github.com/opencardev/crankshaft/wiki/TSL2591) on how to use a TSL2591 instead of a TSL2561 because that was far easier to get a hold of from a local store in my area.

I haven't properly tested it in my car installation yet but from the get-go I have the following issue. With everything connected and done according to the wiki (also scanned for I

[2021-01-10 14:21] BodoMinea opened #438 "Using RCA video output with touchscreen input"
Hi,

I still haven't got all my components delivered but if it is not a problem I want to ask „in advance”. Has anyone used RCA video output with touchscreen support?

My stock head unit supports RCA input with an aftermarket harness, so I will be using a Raspberry Pi 4 with the latest release (csng-alpha7 2020-10-26 / commit f8d7ba3) and `enable_tvout=1` in config.txt.

I see people around here s

[2021-01-10 18:29] BodoMinea commented on #437
Fixed with PR on the script repo. Needed pip3 smbus module and comparison fix for values between levels 4 and 5. See https://github.com/nomath4u/crankshaft_tsl2591/issues/1 and https://github.com/nomath4u/crankshaft_tsl2591/pull/2

[2021-01-11 15:34] Bisjob commented on #435
I've changed the config file after a fresh install, but I still can't use the touchscreen.
I've first tried to only add the changes, the pi booted well, but couldn't use the touchscreen, either in X11 mode or EGL.
After I tried to replace the whole config file with the changes, the pi crashed in EGL mode, and booted in X11 mode, but still without the touchscreen.

Btw, the touchscreen works well o

[2021-01-11 16:31] Basline-LineTech commented on #435
Have you tried another version of crankshaft? We need to troubleshoot this.

[2021-01-11 18:31] Bisjob commented on #435
I tried with the 2020-10-15-csng-alpha5.5-a73be17 version, but without any success.

Wich version should I try ?

And to be clear, after the sd flash, I change :
- the whole config.txt by your changes
- set START_X11=1 in the crankshaft_en.sh file (I read the touchscreen can't be handled in the EGL mode)

[2021-01-12 00:54] Basline-LineTech commented on #435
You don't need to erase the content of config.txt, just open it and add the text. BTW I use my screen on EGL mode cause mine crashes on X11, maybe you could give it another try. Also, try older versions of crankshaft, like 2019's, cause some things are a bit buggy with those new versions

[2021-01-12 15:00] egisz commented on #337
Hi, I have same issue, USB microphone, sound tests are working fine.
AA running on RPI4, hotspot mode.
Google assistant is recognizing words like "navigate home", but it nothing happens. I believe AA doesnt have internet connection, that's why. If I connect RPI to home LAN, then it works fine. But not in the car.
I can search addresses only using keyboard. This is annoying...

[2021-01-12 15:11] egisz commented on #292
Yes it is working fully using keybaord arrow keys, ESC, ENTER, 1, 2 keys for scrolling between items.
You have to enable all these keys first in settings INPUT menu if it's not yet enabled.

[2021-01-12 23:43] matt2005 commented on #337
I'll take a look when my pi4 arrives. I accidentally shorted out my old one.

[2021-01-13 00:09] matt2005 commented on #437
@nomath4u please can you submit a pr to add this to the main release.

[2021-01-13 00:13] matt2005 commented on #438
Some people have used an hdmi to RCA converter as they say the resolution is better. However it's not something that I've tried. In theory the touch interface is normally usb so it shouldn't matter if the display is rca.

[2021-01-13 00:18] matt2005 commented on #435
I had issues with incorrect line endings which caused issues so please check that.
@Basline-LineTech Please expand on the buggy comment as I'm attempting to resolve them before adding new features.

[2021-01-13 01:03] Basline-LineTech commented on #435
Well, I have experienced the same problem with the "new versions" of crankshaft, fortunately I was able to fix it easily with those lines in the config.txt file. Also I can't use Android auto via WiFi hotspot anymore with the new versions, but I'll open another topic for this when I generate the debug.zip file. Also thanks to help us all to troubleshoot our issues

[2021-01-13 07:43] egisz commented on #438
I am using native Raspberry RCA output and video quality is usable, because screen isn't too big.
I'ts 10" screen, but due car's stupid settings it only occupies part of it 4:3 format with black borders around.

I believe these settings are to match resolution (screen coordinates to input), but I may be wrong.

[2021-01-13 07:54] egisz opened #439 "Raspberry pi 4 hotspot 2.4GHz, not 5Ghz."
I noticed that while in hotspot mode, crankshaft uses 2.4GHz mode, not 5GHz as it is recommended for better stability and quality.
I digged a bit and managed to fix it editing file `/etc/hostapd/hostapd.conf`:
Changed lines:
[code]
It would be nice to autodetect that CS is running on RPI 3B+/4 and set these settings during install.
I remember we have revision detection in QT5 build scripts.
But it

[2021-01-13 10:37] matt2005 commented on #439
Yeah that's sounds good, I'll have a look at making a 2.4/5 option in gui and disable 5 from being selected if not supported. Just waiting for pi4 to arrive.

[2021-01-13 21:30] matt2005 commented on #433
I've attached my config.txt which is for a 7" 1024x600 screen, please try it.
[config.txt](https://github.com/opencardev/crankshaft/files/5811177/config.txt)

[2021-01-13 23:23] matt2005 commented on #437
I've make a quick edit to enable support for both tsl2561 and tsl2591.

I have added a couple of extra configuration options in [/opt/crankshaft/crankshaft_default_env.sh](https://github.com/opencardev/crankshaft/blob/d1cc04e159fde60a7e742f3b573bc3f60d6e0da7/stage3/03-crankshaft-base/files/opt/crankshaft/crankshaft_default_env.sh#L190)
And Updated [/opt/crankshaft/service_lightsensor.py](https://g

[2021-01-13 23:45] matt2005 commented on #436
I think it may be related to a missing package, (smbus)
Try
[code]

or
[code]

[2021-01-14 13:39] BodoMinea commented on #437
Unfortunately, it is not working. Here is what I tried:

After copying the new `service_lightsensor.py` and setting the `LIGHTSENSOR_TYPE`, `TSL_I2C_BUS` and `TSL_ADDR`, upon executing the script, it was complaining about conversion of int values and unrecognized commands.

- The int conversion problems were because there was int conversion in `service_lightsensor.py` in get_var, but the LIGHTSENS

[2021-01-14 13:54] BodoMinea commented on #437
Okay, I think I fixed it. More conversion errors from get_var. See PR #440

Also, do you know how to hide the boot warning about TSL2561?

[2021-01-14 20:20] matthewconwa commented on #431
@matt2005 could you tell me more about this solution " connect one side of each button to a gpio and then ground the connection". Do you have any how-to guides or maybe some examples?

[2021-01-14 20:57] matt2005 commented on #437
@BodoMinea Thanks for your help, It's really helpful having somone with the hardware to test things, I've only recently taken over to maintenance of Crankshaft so I've not go a lot of the hardware.
I've merged the PR and updated the default config to reflect your change.
I've also made a fix for the boot warning to enable it to support the tsl2591 and use the configured addresses in the config.

R

[2021-01-14 21:12] matt2005 commented on #436
@fishred I'm also working on a fix for tsl2591, which will enable both tsl2561 and tsl2591. Please see #437 if you can help test the new script it'll be great.
Thanks

[2021-01-14 21:19] matt2005 commented on #431
I've not got any examples as it was just an idea based on how push buttons work. You will need to check voltage as per post at bottom as you don't want to break the pi. This is something that might work basically you will use the gpio to complete the circuit on the screens button so the screen will think you've pressed the button. [Simulate button press post on stackexchange](https://raspberrypi.s

[2021-01-15 12:56] BodoMinea commented on #437
Yes, that worked like a charm. There's no red warning and the detection works fine, and as such I will close this issue.

I think the next steps would be adding an option to select the kind of the light sensor in the UI and also update the wiki.

Thanks!

[2021-01-15 12:56] #437 closed, assigned to nobody

[2021-01-15 13:29] fishred commented on #436
@matt2005  i copied service_i2ccheck.sh and add following lines to crankshaft_env.sh

The console output in booting shows device has been detected at that address, but sensor seems not working.
Maybe I missed anything?

[2021-01-15 19:00] matt2005 commented on #436
You need to update [/opt/crankshaft/service_lightsensor.py](https://github.com/opencardev/crankshaft/blob/lightsensor_fixes/stage3/03-crankshaft-base/files/opt/crankshaft/service_lightsensor.py)
And Install
[code]
I can't test as I've not got the hardware.

[2021-01-15 22:21] fishred commented on #436
@matt2005  do I need to install python-tsl2591 although I am using tsl2561?

[2021-01-15 22:44] matt2005 commented on #436
Yes, i would as its a module that it loaded by the python script. @fishred

[2021-01-16 15:27] fishred commented on #436
I have problem to run apt command because I got no network connection now. I am using LAN.

[2021-01-16 16:18] fishred commented on #436
After figured out my own network issue, I had installed listed component.
The TSL2561 tab in the first round of boot disappeared. After I pick it again, the TSL 2561 sensor seems still not working.

Console output in booting shows sensor has been found.

[2021-01-16 20:50] matt2005 commented on #436
Did you run all the commands including the one for tsl2591 module?

[2021-01-16 23:27] fishred commented on #436
Yes. tsl2591 Python module had been installed. Very likely that is why the first boot, tsl2561 disappeared from tab.

[2021-01-17 00:24] matt2005 commented on #436
Can you stop the service lightsensor and then run the file manually. Does it run ok? It should return values from the sensor.

[2021-01-18 11:51] Bisjob commented on #435
I tested this version without any success :
- 2020-10-26
- 2020-10-15
- 2019-08-08
- 2018-12-21

I didn't pay attention to the end line as matt2005 said, so i retested the versions, not all, only the 2020-10-26 and 2019-08-08

[2021-01-18 12:02] matt2005 commented on #435
What happens without editing the config.txt file.

[2021-01-18 14:18] Bisjob commented on #435
it's the same, I can't use the touchscreen

[2021-01-18 14:43] Basline-LineTech commented on #435
I took a closer look and noticed that your screen is slightly different than mine. I have already used some similar to yours and I remember that you do need to install the drivers, and I don't remember how I installed it. Probably you're going to need to connect using SSH, give the required permission to the driver installer and hopefully it will work. I really don't remember how I installed mine

[2021-01-18 16:10] Bisjob commented on #435
It is possible that the gpio pins for the touchscreen are already used by crankshaft ?
Because when I installed the driver through ssh, it always crashed when I rebooted.
I wanted to try to run the LCD5-show script line by line to see what cause the crash, but I'm still a newbe in linux env.
Maybe if you can split this script for me, I can try to run them one by one and see when it crash

[2021-01-18 16:34] Basline-LineTech commented on #435
By default crankshaft doesn't use any gpio pin, but you can configure it to use. About running the script line by line, you can see the entire script using the command `nano LCD5-show.sh`. I'm assuming that this is the name of your file. But after all you probably are gonna need root run all commands successfully, and I don't remember how to do it on crankshaft. Maybe @matt2005 can help us with th

[2021-01-20 23:14] matt2005 commented on #401
i'm currently looking at yocto. Are you able to share your repo with your yocto work?

[2021-01-21 17:33] Gwx76 opened #441 "Problem rotate waveshare 7,9 inch with the alpha7"
Hello,
I can't seem to do a 90 ° rotation on my waveshare screen.

I tried several methods in the config.txt files but without result

I got there very simply with the previous version, why?

Thank you for your reply

crankshaft version: csng-alpha7 2020-10-26

[config.txt](https://github.com/opencardev/crankshaft/files/5851006/config.txt)

[2021-01-21 19:09] matt2005 commented on #441
What previous version where you using? Alpha6?

[2021-01-22 21:01] fishred commented on #436
Sorry, it was a busy week. @matt2005, what is the command line to do that?

[2021-01-22 22:56] #292 closed, assigned to matt2005

[2021-01-25 13:47] sharavan-lab commented on #401
Hello Matt,
    I am in warrior branch  This is issue is only due to cross compilation. I have raspbian/stretch (docker) running on top of POKY warrior  no issues observed.

bblayers.conf

BBLAYERS ?= " \
  /home/sharavan/sara_raspi/sources/poky/meta \
  /home/sharavan/sara_raspi/sources/poky/meta-poky \
  /home/sharavan/sara_raspi/sources/poky/meta-yocto-bsp \
  /home/sharavan/sara_raspi/sources/

[2021-01-25 13:48] sharavan-lab commented on #401
also you need to add c++ / g++ in the libraries list

[2021-01-25 15:44] matt2005 commented on #401
Have you created a layer and recipe for aasdk and openauto?
I'm working on one at the moment. [csng_yocto](https://github.com/matt2005/csng_yocto)

[2021-01-25 18:40] codydjohnston opened #442 "Screen Not Responding In Night Mode"
When I turn night mode on (using the button in the menu) the screen goes black. I assumed that was normal and that touching the screen would turn it back on, but the when I touch the screen nothing happens. I have tried connecting my phone when this happens and I get the connected to android auto notification (on my phone, a Samsung Note 9) , but the screen is still black and not responding. I am

[2021-01-26 08:50] sharavan-lab commented on #401
Yes I have the recipes for both open auto and aaasdk. Do you want me to upload

[2021-01-26 21:51] matt2005 commented on #401
Yes please.
It'll be easier if you create a repo and then add the url in here, I can compare against the one's I'm build at the moment.
So far I've got aasdk compiling and have just started looking at openauto. Once I've done those then it'll be adding recipes for all to other Crankshaft applications/scripts.

My aim is once its working I'll then add it to opencardev, then use it to build the next

[2021-01-27 00:30] matt2005 commented on #436
i can't remember it at the top of my head, I'll check when I get my new Pi4

[2021-01-27 13:59] sharavan-lab commented on #401
Hello Matt,
  Thanks a ton, compiled asdk looking at your .bb file /  Working on
openauto, compilation seems to be smooth , errors are from including f1x
include directories. cmake is not finding the path for the include. If I
can be of any help let me know.

Thanks again
Regards
Sharavan

On Wed, Jan 27, 2021 at 3:52 AM Matthew Hilton <notifications@github.com>
wrote:

[2021-01-27 14:14] matt2005 commented on #401
I'm currently having issues with rtaudio, I can't find a recipe for it.

[2021-01-27 14:18] matt2005 commented on #401
@sharavan-lab suggest moving to the dedicated repo

[2021-01-28 07:14] sharavan-lab commented on #401
I have built rtaudio , will share the code

On Wed, Jan 27, 2021 at 7:45 PM Matthew Hilton <notifications@github.com>
wrote:

[2021-01-28 08:45] matt2005 commented on #401
I've managed to build it too. Now just working on openauto.

[2021-02-02 16:39] deejaypro opened #443 "Crankshaft doesn't recognize AA Headless Server"
- What phone do you have?
OnePlus 7 Pro
- What OS version?
Android 10
- What crankshaft version?
Latest (Alpha7)
- What Raspberry Version?
Raspberry Pi 4 2GB
- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always repoducible.
I run crankshaft in clientmode. I enabled to see the network information on the main screen.
Everytime I connect cranksha

[2021-02-03 21:54] matt2005 commented on #443
I'll take a look at my setup as this is how I use it.

[2021-02-03 21:55] matt2005 commented on #442
What version are you using? How are you connecting the phone?

[2021-02-04 01:21] codydjohnston commented on #442
I am using the newest version and connecting via a usb a to usb c cable.

On Wed, Feb 3, 2021 at 2:55 PM Matthew Hilton <notifications@github.com>
wrote:

[2021-02-05 15:04] deejaypro commented on #443
Regarding my last point, not being able to gernate a debug.zip.
Just saw the following in journalctl:
[code]
Doesn't the last line mean, that the debug.zip was immediately deleted after creating it?
I tried to find the script generating the logs in this repository but couldn't find it.

Edit:
Disregard the last. I just found the code in the prebuilts. The delete is to get rid of the last debug.zip

[2021-02-05 22:09] matt2005 commented on #443
Thanks - I've added the zip package to the packages for the next release.

[2021-02-05 22:16] matt2005 commented on #443
I'm going to release a version over this weekend once I've checked a few things.

[2021-02-05 22:41] matt2005 opened #444 "Debug logs not generating"
When creating debug logs the file is not generated.
Build Alpha-7

[2021-02-05 22:42] matt2005 commented on #444
THanks @deejaypro for the solution. Install zip
[code]

[2021-02-05 23:52] matt2005 commented on #443
what happens when you run crankshaft in hotspot mode and attach your phone to Crankshaft?

[2021-02-06 00:07] #444 closed, assigned to nobody

[2021-02-06 00:30] deejaypro commented on #443
Should the SSID be broadcasted or is it a hidden network?

[2021-02-06 09:52] matt2005 commented on #436
@BodoMinea @fishred please try [DEV release alpha 7.1](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha7.1)

[2021-02-06 09:54] matt2005 commented on #443
its broadcast but you need to turn on hotspot mode inthe settings.
I've created a dev release with the debug fix.
please try [DEV release alpha 7.1](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha7.1)

[2021-02-06 10:24] deejaypro commented on #443
Then the hotspot mode didn't work either. It wouldn't broadcast the SSID nor would it let me connect if I treated it as a hidden network.
But for some reason I see some DHCP offers for my phone in the dnsmasq.log. (see [debug__.zip](https://github.com/opencardev/crankshaft/files/5936623/debug__.zip)). Note this is with the old release.
I will try both modes with the new dev version and I will let

[2021-02-06 11:45] deejaypro commented on #443
Okay I tested the new version with a few different setting. Good thing: I got it to work in hotspot mode.
I observed a few different behaviors:
- In client mode it will never recognize the headless server running on my phone: [debug_client.zip](https://github.com/opencardev/crankshaft/files/5936733/debug_client.zip)
- When first starting into Hotspot mode the SSID wont be broadcasted: [debug_hotsp

[2021-02-07 00:59] matt2005 commented on #442
@Ch3ddar77994

Please try release [alpha7.2](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha7.2)

[2021-02-07 01:00] matt2005 commented on #441
please try [DEV release alpha 7.1](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha7.1)

[2021-02-07 22:56] fishred commented on #436
With this build, it works after my changing default address from 0x29 to 0x39.
Thanks for all the effort. Cool!

[2021-02-08 00:20] matt2005 commented on #443
can you check the pi can communicate to the phone head uint service but running.
[code]
Replace 192.168.1.189 with your phones IP.

[2021-02-08 00:45] deejaypro commented on #443
Yeah Sure:
pi@CRANKSHAFT-NG:~ $ nc -vz 192.168.43.83 5227
nc: connect to 192.168.43.83 port 5227 (tcp) failed: Connection refused

A ping to my Phone (43.83) works.
So ist seems ist cant communitcate with the Server...

[2021-02-08 00:46] matt2005 commented on #443
When in client mode and network info shown on main screen. Does it show yours phones ip as the gateway?

[2021-02-08 00:47] matt2005 commented on #443
Are you running the head unit server on your phone? Check the port 5277

[2021-02-08 00:52] deejaypro commented on #443
![Image](https://user-images.githubusercontent.com/18632159/107164508-9f6f5900-69af-11eb-98e4-5c4c84569943.jpg)

Nope GW is emtpy ( and the Ssid is showing the wrong one).
And my bad, sorry. Misstyped the Port:
CRANKSHAFT-NG:~ $ nc -vz 192.168.43.83 5277
Connection to 192.168.43.83 5277 port [tcp/*] succeeded!

[2021-02-08 01:27] matt2005 commented on #443
Try setting the wifi_update=1 in the crankshaft_env config.

[2021-02-08 08:00] fishred commented on #436
Base on fix from above, i close the issue. Thanks again.

[2021-02-08 08:00] #436 closed, assigned to matt2005

[2021-02-08 10:57] deejaypro commented on #443
Just did that. Still the same:
[code]
GW is still emtpy and the wrong ssid ist just a visual bug when changing from WLAN 1 to WLAN 2.

[2021-02-08 14:01] matt2005 commented on #443
Can you try a swap the wifi settings around? So the primary is the phone?

[2021-02-08 14:20] deejaypro commented on #443
Sure no problem.
I completely removed my Home WiFi to minimize the potential "risk" of running into a Bug.
But the results are the same:
[code]
![16127939634376815570776916811404](https://user-images.githubusercontent.com/18632159/107231837-0ed16100-6a21-11eb-8447-3a6015baf910.jpg)

I also created a debug file but i doubt it will provide additional infos compared to the ones before:
[debug.zip](ht

[2021-02-08 16:14] matt2005 commented on #443
I'll step through the code later but I think its failing to detect the gateway ip correctly. I know I can force the gateway, i just can't remember all the steps so I'll check and update later.

[2021-02-08 16:23] deejaypro commented on #443
Sounds great. If you need further testing just let me know.
I tried to find the code where the gateway is detected earlier to see if i can spot something but i couldn't pinpoint it to a specific part of the code.

[2021-02-08 16:41] deejaypro commented on #443
I think I found the line [Line 21](https://github.com/opencardev/crankshaft/blob/5b228516a2448c72fa90f5b79948940d12e4b4ce/stage3/03-crankshaft-base/files/opt/crankshaft/service_wpachange.sh#L21).

Maybe its because of Buster or the Raspberry Pi4 (more likely Buster) the file doesnt exist under "/var/run/dhcpcd/resolv.conf/wlan0.dhcp". Instead it is located at "/var/run/resolvconf/interfaces/wlan0.

[2021-02-08 17:46] matt2005 commented on #443
i'll have a look in a bit but.
If you try the following, add your phone ip into the file.
[code]

[2021-02-08 18:01] deejaypro commented on #443
I mean that's what the code does and after changing the path in the if clause my phone could connect to the AA headless server.

[2021-02-08 18:05] matt2005 commented on #443
can you submit a PR to fix the filepath.

[2021-02-08 20:51] matt2005 commented on #389
Please try following
Use latest dev release (currently alpha7.1)
Enable mobile hotspot on Phone,
Configure WIFI2 in /boot/crankshaft/crankshaft_env.sh
Set wifi_enable_update=1 in /boot/crankshaft/crankshaft_env.sh
Start crankshaft
Click on wifi connect button, it will error saying unable to connect
on phone start AA and then start headunit server
On Crankshaft click connect
Phone should beep and t

[2021-02-08 20:52] #443 closed, assigned to nobody

[2021-02-08 20:56] #389 closed, assigned to matt2005

[2021-02-09 00:04] Gwx76 commented on #441
hello, i just installed the latest version of crankshaft (DEV release alpha 7.1),  90% of my problems are solved. I am happy with this version because it is by far the best of all the one I tested.
Thank you very much!

PS (my phone is Xiaomi Mi note 10)
with raspberry PI 3 B  and screen 7.9" waveshare

[2021-02-09 00:55] matt2005 commented on #441
@Gwx76 what are the other issues? Have you rasied them?

[2021-02-09 10:37] Gwx76 commented on #441
I have a problem with the connection between the smartphone's wifi and crankshaft.
the crankshaft hotpoint is working but the client mode does not. So i can't use wifi for android auto

[2021-02-09 12:23] matt2005 commented on #441
Ok I have a fix for that I'm just working on a new release

[2021-02-09 13:43] Gwx76 commented on #441
ok good job Matt2005!

[2021-02-09 22:41] matt2005 commented on #441
@Gwx76 Please try release [alpha7.2](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha7.2)

[2021-02-09 22:42] matt2005 commented on #433
Please try release [alpha7.2](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha7.2)

[2021-02-09 22:42] matt2005 commented on #438
Please try release [alpha7.2](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha7.2)

[2021-02-09 22:46] matt2005 commented on #435
I've just built a new release which fixes some other issues including Debug file generation.
Are you able to try this release and attach a debug file?
I can look at adding support but will need assistance in testing as i don't have the hardware. @Rizov74 @Basline-LineTech

Please try release [alpha7.2](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha7.2)

[2021-02-10 11:04] Basline-LineTech commented on #435
I'll give it a try. But I think showing us how to login as root will be enough since we already have the drivers file.

[2021-02-10 12:46] Bisjob commented on #435
[debug.zip](https://github.com/opencardev/crankshaft/files/5958205/debug.zip)
Hi,
here the debug files with the alpha7.2 version.
I simply added the lines in the config file, enabled debug mode.
The touchscreen still doesn't respond

[2021-02-10 14:09] Gwx76 commented on #441
I just tested the version alpha7.2 with a fix but I still cannot activate the wifi.
 in the BT / WiFi tab, I activate Client mode but I cannot enter the SSID because everything is erased before I can register.

maybe the problem comes from me

[2021-02-10 16:44] Lotusvball commented on #432
I have the same version and my pi is connected to the internet.  It will not update using the Update option in Cranskshaft.

[2021-02-10 19:47] adix-code commented on #401
Hello matt2005, i managed to build openauto. You can find all my changes here https://github.com/adrianalin/csng_yocto.

[2021-02-10 21:19] matt2005 commented on #432
@Lotusvball @KamiSchami I've just informed the updater about a new version. I'm also checking that it is picking up the update from your specific version.

[2021-02-10 21:42] matt2005 commented on #432
Try this
1. Enable dev mode
2. SSH into PI
3. Run
[code]
4. It should say update available
[code]
5. Run
[code]
6. Insert usb flash named CSSTORAGE
7. Run
[code]
8. You should see it downloading the update to the flash media.
9. Run
[code]
10. The pi will reboot and detect the update on the flash media and apply it. This will take a while 20+mins depending on SD card
11. if the pi hangs at the cra

[2021-02-10 22:40] matt2005 commented on #441
Try following this
[Wifi Setup](https://github.com/opencardev/crankshaft/wiki/Android-Auto-Wifi)
IF you want to connect to your phones hotspot you need to use WIFI2 as shown in [Connect to Phone](https://github.com/opencardev/crankshaft/wiki/Android-Auto-Wifi#connecting-to-your-phones-wifi-hotspot)

Ensure you also force update for wifi [wifi force update](https://github.com/opencardev/crankshaft/

[2021-02-10 22:47] matt2005 commented on #435
You have already enabled Debug mode so you will already have ssh access, but the filesystem still be Readonly, unless you unlock the system.
You can use dev_mode which is read-write [Enable Development Mode](https://github.com/opencardev/crankshaft/wiki/Dev-Mode-and-Debug-Mode#dev-mode)
Once you are in ssh you can sudo.
Please provide the steps and we can get it added to the base.

[2021-02-10 22:51] matt2005 commented on #401
Great thanks, please submit PR against my repo

[2021-02-10 23:09] Gwx76 commented on #441
I use Client mod  and I follow this "Pixel 4XL cant connect via Wifi #389"

_matt2005 commented 2 days ago
Please try following
Use latest dev release (currently alpha7.1)
Enable mobile hotspot on Phone,
Configure WIFI2 in /boot/crankshaft/crankshaft_env.sh
Set wifi_enable_update=1 in /boot/crankshaft/crankshaft_env.sh
Start crankshaft
Click on wifi connect button, it will error saying unable to c

[2021-02-10 23:16] matt2005 commented on #441
please attach debug logs

[2021-02-10 23:27] matt2005 commented on #432
Please let me know if you experience the pi hanging.

[2021-02-10 23:27] Gwx76 commented on #441
[debug.zip](https://github.com/opencardev/crankshaft/files/5962309/debug.zip)

[2021-02-10 23:41] matt2005 commented on #441
I think it's failing as you've specified the same SSID for both.  Try setting the first SSID to a different SSID and set WIFI_UPDATE_CONFIG=1
[code]

[2021-02-10 23:46] matt2005 commented on #417
@marcimix Does the latest release work in QEMU?
The Audio error is due to PA not finding a MIC.

[2021-02-10 23:48] matt2005 commented on #397
its due to plymouth writing to FB and then fkms kicking in with a blank fb

[2021-02-11 00:18] matt2005 commented on #435
Once setup and working please generate a debug file so I can compare and add support

[2021-02-11 06:12] KamiSchami commented on #432
Ok great, i will test it. Thank you.

[2021-02-11 14:01] Bisjob commented on #435
Ok I booted in DEV_MODE and DEBUG_MODE
I generated debug file, and here the result from the scp :/boot/debug.zip command :
[debug.zip](https://github.com/opencardev/crankshaft/files/5965906/debug.zip)

Btw, how can I generate debug files with ssh ? I didn't found the command so I had to click on the gray button.

I'm not sure I understood what exactly you want, if it's not this, can you specify yo

[2021-02-11 14:16] matt2005 commented on #435
Is the debug from before you install the driver install?

[2021-02-11 14:22] Bisjob commented on #435
No I tried to install the drivers in devmode only (if devmode + debugmode, the system remains in RO mode) befor making the debug file.
The debug file I sent yesterday is juste after a fresh install
Here the error :

[2021-02-11 14:28] matt2005 commented on #435
Run this
[code]
Then install the driver and then run the command below.
[code]
To create debug file from ssh run
[code]

[2021-02-11 14:35] matt2005 commented on #435
Also make sure you are running the install from inside the repo folder e.g. cd LCD-SHOW

[2021-02-11 14:41] Bisjob commented on #435
Ok I'm making a fresh install, I'll come back with debug files.
So step by step :
1) Start once in default mode
2) Enable dev mode by modifying cranckshaft_env on the computer (ssh is not enabled)
3) Start in dev mode
4) install driver, and make sure i'm in the folder LCD-show
5) Reboot
6) Switch in debug mode with the command
7) Create log

Btw, if I want to download from git, I have to set my DN

[2021-02-11 14:53] Bisjob commented on #435
Ok here the debug files :
[debug.zip](https://github.com/opencardev/crankshaft/files/5966231/debug.zip)

The output when installing drivers :

Now cranckshaft crash on start

[2021-02-11 21:39] Gwx76 commented on #441
the solution was there
 I just did the test and AA in wifi starts up without problem thank you very much!!!!

I will have one last question but if that doesn't suit the main topic.
can the system time stay up to date during a prolonged shutdown?

[2021-02-11 21:58] matt2005 commented on #441
you'll need a RTC (Real Time Clock) for that.  see [RTC guide](https://www.abelectronics.co.uk/kb/article/30/rtc-pi-on-raspbian-buster-and-stretch)

[2021-02-11 22:04] Gwx76 commented on #441
I will try this RTC thanks Matt2005

[2021-02-11 22:30] matt2005 commented on #441
Issue resolved

[2021-02-11 22:30] #441 closed, assigned to nobody

[2021-02-12 00:40] matt2005 commented on #435
try this config.txt
[config.txt](https://github.com/opencardev/crankshaft/files/5969123/config.txt)
The driver install appears to have rememoved settings from the file, so i've added the main one for the screen.

Based on an issue in the LCD-Show repo [Issue 258](https://github.com/goodtft/LCD-show/issues/258) the config is recreated so this is probably the issue.

[2021-02-12 11:21] Bisjob commented on #435
Great the touchscreen works fine now !!

[2021-02-13 09:33] BodoMinea commented on #438
My update is that I got the touchscreen and USB interface for it and it just worked on my alpha7.1 installation with RCA output. No configuration was required. I just have `enable_tvout=1`.

[2021-02-13 09:33] #438 closed, assigned to nobody

[2021-02-13 13:02] #435 closed, assigned to matt2005

[2021-02-13 13:03] matt2005 commented on #435
No problem, can you upload a debug file so I can see if I can auto detect the screen.

[2021-02-13 13:04] matt2005 commented on #432
Did you manage to update?

[2021-02-13 13:05] Lotusvball commented on #432
I ended up doing a new image and using that.  It works great.  Much more responsive.

[2021-02-13 14:02] Compizfox opened #447 "OpenAuto crashed with RPi 3A+"
- What phone do you have?
N/A

- What crankshaft version?
Alpha7.2 2021-02-09

- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always repoducible.
Flash the image to a SD card, and boot it. Yes.

After boot, I get the following error:

[code]

I'm using a HDMI screen.

I tried both EGL and X11. I have the same issue with the alpha7 2020-10-26 bu

[2021-02-13 14:57] Bisjob commented on #435
Here the debug files :
[debug.zip](https://github.com/opencardev/crankshaft/files/5975875/debug.zip)

I've juste an issue, the touchscreen is offseted and I can't have access to the bottom of the screen.
I can change the calibration with this line right ?
`dtoverlay=ads7846,cs=1,penirq=25,penirq_pull=2,speed=50000,keep_vref_on=0,swapxy=0,pmax=255,xohms=150,xmin=200,xmax=3900,ymin=200,ymax=3900`

[2021-02-13 21:03] matt2005 commented on #435
those values should be fine. try editing /etc/X11/xorg.conf.d/99-calibration.conf as this will have been installed by the install script from this file https://github.com/goodtft/LCD-show/blob/master/usr/99-calibration.conf-5-0
I don't have the hardware so can't confirm values however the ones in the calibration.conf appear to be larger than the the ones in the dtoverlay line. I would try adjustin

[2021-02-13 21:12] matt2005 commented on #447
I've not tried a RPi 3A+, but it should work but it will need debugging as it's not a hardware config i've tested.

[Enable Dev_Mode](https://github.com/opencardev/crankshaft/wiki/Dev-Mode-and-Debug-Mode#how-to-enable)
login to ssh

To create debug file from ssh run
[code]

[2021-02-17 16:43] Gwx76 opened #448 "boot crankshaft with an SSD"
- What phone do you have Xiaomi Note 10

- What OS version Android

- What crankshaft version 7.2

hello, would it be possible to boot an SSD instead of a mirco SD? allow a faster start? Has someone already tried?

[2021-02-17 18:07] matt2005 commented on #448
Surely that's a waste of a SSD as the file system is read only.
You can attach ssd as usb media to store media files.
I'm working on a boot time speed up, but currently  concentrating on bug fixing.

[2021-02-17 22:28] matt2005 commented on #447
@Compizfox Can you try the instructions above?

[2021-02-18 10:30] Gwx76 commented on #448
Ok no problem, I thought the SDD read small files faster than a mrico SD. and i just thought to myself that if it read faster its starts faster. But I am not a specialist.

[2021-02-18 11:15] modemlamer commented on #448
On PI4 its no problem to boot from SSD attached tu USB3

https://www.tomshardware.com/how-to/boot-raspberry-pi-4-usb

On PI3 it is also possible but harder to achieve

https://www.youtube.com/watch?v=ubnwvxF3Klc

It depends on your SD-CARD if its worth it ...
the SD-Cardreader is still on USB2.0 as far as i know, so USB3 could be faster
SSD Drives are also more durable... but there are also tough

[2021-02-26 00:19] ImAleeexx opened #449 "Bluetooth external always asks for PIN code"
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

Phone: Oneplus 8 pro

Android 11
Alpha7.2 2021-02-09

- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always repoducible.
-Try

[2021-02-27 16:53] Compizfox commented on #447
[debug.zip](https://github.com/opencardev/crankshaft/files/6054945/debug.zip)

Here you go.

[2021-03-01 10:54] scott9000 commented on #447
I am also trying to run crankshaft on rpi 3a+ and getting the same issue. Would love to find out if this gets resolved 🙂

[2021-03-01 20:59] matt2005 commented on #447
@scott9000 Can you create a debug file? please ensure that you are not in x11 mode.

[2021-03-01 21:01] scott9000 commented on #447
Yeah will do. Will send it to you when I'm finished work. Thank you!

On Tue, 2 Mar 2021, 7:59 am Matthew Hilton, <notifications@github.com>
wrote:

[2021-03-02 04:53] scott9000 commented on #447
[debug.zip](https://github.com/opencardev/crankshaft/files/6066226/debug.zip)
let me know if this is what you need. I'm a bit of a noob but can follow instrucions

[2021-03-02 17:45] matt2005 commented on #447
@scott9000 what is your setup? What attached devices? Screen? Etc

[2021-03-02 18:18] scott9000 commented on #447
I have a 5" elecrow LCD touch screen and pixel 4, the screen is working
fine but no GUI

On Wed, 3 Mar 2021, 4:45 am Matthew Hilton, <notifications@github.com>
wrote:

[2021-03-02 22:50] Compizfox commented on #447
The debug log I submitted was while running in X11 mode. Do you need one in EGL mode from me as well?

[2021-03-02 23:37] matt2005 commented on #447
@Compizfox The logs appear to show crashing. Can you try editing the gpu_mem in /boot/config.txt. Try editing the gpu_mem from 256 to 128.
[code]

[2021-03-04 19:17] Compizfox commented on #447
Thanks, that did the trick! OpenAuto is now starting correctly.

However, when connecting my phone (over USB) nothing happens. Am I missing something or should I create a new issue?

[2021-03-04 21:01] matt2005 commented on #447
do you have Androidauto installed on Phone? You might need to connect via a powered usb hub, as the pi 3a might not have enough power over usb.
Alternatively try wireless mode see wiki for details

[2021-03-04 23:04] Compizfox commented on #447
Yes, I have Android Auto installed and when I connect it over USB, it says "connected to car" on the phone. However, nothing happens on the OpenAuto head unit.

Hmm, I'm afraid I don't have one on hand. Why does it need to power the phone anyway? I'm not expecting it to charge it or anything, lol

Which wiki page exactly? My first idea was to try Bluetooth, but I couldn't find out how to pair it.

[2021-03-05 03:20] scott9000 commented on #435
Not sure if it helps but i think i have the exact same screen, I installed the drivers then copied the config.txt that @matt2005 put here and used the calibration values I took from calibrating the screen in raspbian.
My values were as follows
Option  "Calibration"   "148 3936 229 3976"

[2021-03-05 23:31] matt2005 commented on #447
[AA wireless](https://github.com/opencardev/crankshaft/wiki/Android-Auto-Wifi)
 You will need to enable the onboard BT, I've updated the wiki page for BT.

Enable onboard BT. You must reboot after this.
[code]

[2021-03-05 23:38] #432 closed, assigned to matt2005

[2021-03-12 13:31] matt2005 commented on #447
Did the above work for you? @Compizfox

[2021-03-12 13:35] #433 closed, assigned to matt2005

[2021-03-12 13:35] #431 closed, assigned to matt2005

[2021-03-12 13:36] #393 closed, assigned to nobody

[2021-03-23 08:46] fneon opened #450 "RPi 2 Model B v1.1 (ARMv7) is not supported"
Problem:
Wiki states that the RPi2 is supported.
This is partially true:
there is at least one version of RPi2 which is not supported: RPi2 v1.1 ARMv7

`
Oct 26 22:30:15 CRANKSHAFT-NG pi: SERV-LOGGER: --------------------------------------------------------------------

Oct 26 22:30:15 CRANKSHAFT-NG pi: SERV-LOGGER: Caller: /opt/crankshaft/service_openauto.sh

Oct 26 22:30:15 CRANKSHAFT-NG pi: SER

[2021-03-26 23:09] matt2005 commented on #450
I'll look into kicking off a qt rebuild on a pi2 when I dig it out.

[2021-03-27 14:43] Compizfox commented on #447
@matt2005 No, unfortunately not.

I was able to enable Bluetooth and pair my phone, but that appears to be for audio only?

I tried wireless Android Auto mode over WiFi, but that doesn't work either. When I connect my phone to Crankshaft device over WiFi it seems to detect it (the top-left button gains a Android Auto icon, but when I press on it nothing happens.

EDIT: Sorry, I was too quick. I ma

[2021-03-31 11:55] BodoMinea opened #451 "API to get directions from navigation app running on Android Auto"
Hello everyone,

It's hard to find any documentation regarding the head-unit side of things in Android Auto, but I am sure what I want is possible, at least on the „official” channel. I saw in a factory system on a Ford car, that while Waze was running on Android Auto on the main screen, a small secondary screen in the dashboard showed the next directions instruction (ex. turn left in .... and an

[2021-03-31 12:10] BodoMinea opened #452 "External GPS receiver support (for better reception/positioning)"
Hi,

Is there a way to feed data into Android Auto from an external GPS transceiver (for example a U-Blox module that transmits GPS NMEA messages by UART - Serial). I am able to get this data onto the Raspberry Pi, but I do not know if it is possible to somehow feed it towards Android Auto.

Stock car units and supposedly Open Auto Pro can do this (https://bluewavestudio.io/community/showthread.ph

[2021-03-31 21:34] matt2005 commented on #452
@BodoMinea It was added previously by someone else and I've not looked at the setup.All the pieces should already be available but I'm not sure how its put together, as no documentation exists.
1. gpsd is installed in the image already.
2. support exists in Crankshaft and aasdk
It might be visiable in gui once gpsd sees a device?

[2021-04-01 04:39] BodoMinea commented on #452
Okay, I will try configuring my GPS receiver with gpsd as that´s pretty straightforward / standard. Do you have any idea of the source file where this is implemented or a commit?

I tried searching around and the only mention is this https://github.com/opencardev/crankshaft/blob/aa60ef188602653c0a1fbba56ffb4144722e24d9/stage3/03-crankshaft-base/02-run-chroot.sh it does some setup but no feeding of

[2021-04-01 10:03] ghost commented on #450
I don't want to go back and do any of it again, it was a real pain, but I ended up doing Pi-ZeroW, Pi3 & Pi4 builds, all on my Pi4-4GB with small changes to the config for each, which ended up being much faster and less error-prone than on the device it was targeting.  The Pi-ZeroW didn't finish well, I recall, it ran for days, paged a lot, and I gave up on it - except it all worked OK when I re-d

[2021-04-01 15:56] parkerlreed commented on #452
gpsd comms normally are just over local TCPIP.

Try setting up the GPS for gpsd and verifying data with cgps. Then see if crankshaft gets a "better" position.

[2021-04-01 17:13] MichelKoch opened #453 "nokia 7 plus"
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

- What phone do you have?

- What OS version?

- What crankshaft version?

- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is alwa

[2021-04-01 21:16] matt2005 commented on #453
You've not added information.

[2021-04-02 17:34] MichelKoch commented on #453
Sorry, I was lost here. I do not have a bug but was looking for support. Thx

[2021-04-02 17:34] #453 closed, assigned to nobody

[2021-04-06 15:52] Grayhoof opened #454 "5 inch screen touchscreen drivers make openauto not boot"
i got a 5 inch screen that works perfectly on raspbian but as soon is i install the drivers on crankshaft it gives and error and doesnt start openauto for some reason
i was using the alpha 7

[2021-04-06 17:11] Grayhoof commented on #454
nevermind i got it working after fiddeling arround

[2021-04-06 17:11] #454 closed, assigned to nobody

[2021-04-10 10:34] torunitadori opened #455 "It doesn't make any sound at android auto mode."
It made a sound once few weeks ago.
However it doesn't make any sound now.
I tested a sound on crankshaft setting -> audio. it makes sound.
After connecting phone and run android auto, it doesn't sound of guide in navigation and any music.

phone: moto g pro(android 11)
crankshaft version: Crankshaft OpenCarOS NG Alpha7.2 2021-02-09

I found the problem is connecting a usb microphone.
after removi

[2021-04-27 20:15] Compizfox commented on #447
I think this issue can be closed.

Thanks again for the help!

[2021-04-27 20:15] #447 closed, assigned to matt2005

[2021-04-27 20:22] Compizfox opened #456 "Discussions"
I'd like to ask something that isn't exactly a bug in the strict sense. Your issue template says to refer to [the subreddit](https://www.reddit.com/r/crankshaft/), but it's "restricted" (only approved users can post).

I don't know what the reason for the restriction of the subreddit is, but maybe starting using the new Discussions feature of GitHub makes sense here? :)

[2021-04-29 15:01] gm212 commented on #2
Can you share on how you created the desktop linux build. Thnx

[2021-05-02 10:33] Pablhd commented on #2
Tested / Works
Pixel 2 / Android 11
Raspberry Pi 4 + Official screen
"Crankshaft OpenCarOS NG Alpha7.2 2021-02-09"

[2021-05-04 17:51] Aaron407s opened #461 "AA Only Plays in Mono over HDMI"
- What phone do you have? Samsung Galaxy S20

- What OS version? Android 11

- What crankshaft version? NG Alpha7.2 2021-02-09; problem occurred with previous versions as well, not sure when it started or if it was ever in stereo

- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always reproducible.
Problem is consistent. Plug phone in and audio

[2021-05-06 02:41] Aaron407s commented on #461
After reflashing and copying over my config and crankshaft.ini file, the problem went away. Strange that updating over USB didn't fix it, but it's fixed nonetheless. Maybe something wasn't replaced in the update process?

[2021-05-06 02:41] #461 closed, assigned to nobody

[2021-05-08 17:56] Compizfox commented on #456
I see this is implemented. Thanks!

[2021-05-08 17:56] #456 closed, assigned to nobody

[2021-05-10 12:51] Milek7 commented on #451
For docs, see here https://milek7.pl/.stuff/galdocs/
There's headunit integration guide found in the abyss of google cache, which might provide high-level overview of AA features. It is a bit outdated (version 1.3, while current version seem to be 1.6). It seems that at least GenericNotificationService(13) and WifiProjectionService(14) and multistep NavigationManeuvers with lane assist were added

[2021-05-10 20:59] matt2005 commented on #451
Sounds great I'll  take a look when I get my laptop repaired

[2021-05-13 18:37] paull-oh commented on #300
Hey guys,

I have flashed Crankshaft OS (2021-02-09-crankshaft-ng-d5fffdd.zip
) onto my RaspberryPi 3B+ and it is working fine. I am now trying to implement a backup camera. I am using a raspberrypi official camera and have enabled it in CS-HW. When I run **crankshaft rearcam show** it just shown a blank screen on the rapsberrypi touch screen that I'm using. Do you know of a possible solution to t

[2021-05-19 12:26] BodoMinea commented on #451
Wow, that's so cool, thanks @Milek7!! It's exactly how I was expecting this to work but for some reason didn't know the right combination of words to look for.

I found some more info here: https://source.android.com/devices/automotive/displays/cluster_api

Have you tried fiddling around with these commands on a Raspberry Pi that is already running the head-unit emulator for Crankshaft?

I have ex

[2021-05-20 16:54] BodoMinea commented on #451
I was able to start tinkering with this for a bit. Not on the Crankshaft-NG rpi but on my laptop.

I grabbed the head-unit emulator exe from here: https://dl.google.com/android/repository/desktop-head-unit-windows_r02.0.rc1.zip
Modified one of the sample config files to have `instrumentcluster = true`
Executed `socat TCP-LISTEN:5277 TCP:phoneip:5277` while the headunit server was enabled on the ph

[2021-05-27 11:37] Sono-Gomorrha opened #467 "Brightness goes to 0 when using Moon / Sun icon"
- What phone do you have: Pixel 3a

- What OS version: Android 11

- What crankshaft version: CSMT 2.4.
- CS Base Tab in Settings says version f8d7ba3; Build Date: 2020-10-26

- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always reproducible.
- I try to set the brightness using the moon and sun icon in the homescreen. I tap the moon icon and t

[2021-06-03 16:31] Compizfox commented on #300
I have the same issue here. I have a USB video capture stick that uses YUYV:

[code]

Unfortunately, I'm just getting a black screen.

When manually running `crankshaft rearcam show` or running `cam_overlay.bin`, I get the following error:

[code]

I'm not sure what this means exactly, but from some Googling it looks like it's an OpenGL issue with cam_overlay.

I'm using a RPi 3A+, if that matters

[2021-06-08 19:47] DavideVairetti opened #469 "audio call problem"
Hi guys, I have some audio problems with the new alpha version of crankshaft. The music volume has low volume (but with high quality compared with the old alpha version) and the call audio is something horrible, I can't hear pretty much nothing. Any idea about a solution?

Phone: One Plus Nord
OS version: CrankShaft Alpha 7.2

[2021-06-12 21:22] coolket opened #470 "Crankshaft working on OnePlus7, but weird bug on OnePlus5T"
- What phone do you have?
OnePlus 5T
- What OS version?
Android 11 (rooted, Derpfest ROM)
- What crankshaft version?
NG ALPHA-7.2 - RELEASED 2021/02/09
- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always repoducible.
When connecting my OnePlus 5T via USB cable, my charger light starts flickering and keeps connecting/disconnecting (screen also

[2021-06-16 11:23] DickerssonCheatsTF commented on #2
Testing / Currently Working
Oneplus 7 Pro / Android 11
Raspberry Pi 3B + Test Monitor
"Crankshaft OpenCarOS NG Alpha7.2 2021-02-09"

[2021-06-23 19:05] CGFlyer85 opened #473 "GPIO "Android PIN" not doing anything."
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

- What phone do you have?
 : Redmi Note 8 and 9, Nokia 8

- What OS version?
 : Android 10

- What crankshaft version?
 : Alpha 7.2

- Steps to reproduce the bug, if you're plannin

[2021-06-24 22:34] matt2005 commented on #473
I'm not sure what you are attempting to do. Please add the link to what you are doing and add screenshot if possible.

[2021-06-25 19:45] CGFlyer85 commented on #473
Hello, as I understand it from the wiki and a past issue, it work as an output pin wich get anabled when android auto is running.
Correct me if I'm wrong ^^'
I'm just trying to get a signal when Android Auto is running.

The setting page from the wiki :
![image](https://user-images.githubusercontent.com/19333806/123477417-54707e00-d5fe-11eb-9f9a-46170d95dd94.png)

And the previous issue, wich was

[2021-07-04 15:42] Compizfox opened #474 "Cannot select GPIO27 for "ignition pin""
As per [the wiki page](https://github.com/opencardev/crankshaft/wiki/Boot,-reboot-and-shutdown-the-Pi-with-ignition-key), I made a circuit to pull GPIO27 low when the key is removed from the ignition.

However, in the settings menu the select box for "ignition pin" goes from 1 to 26, thus I'm not able to select GPIO27.

I tried to manually set `IGNITION_PIN=27` in `crankshaft_env.sh`, but it is no

[2021-07-04 23:13] matt2005 commented on #474
i'll take a look at it

[2021-07-07 22:01] CGFlyer85 commented on #473
Hello, Any ideas ?

[2021-07-08 23:11] matt2005 commented on #473
I'm looking into it.

[2021-07-12 10:34] MazixM commented on #435
Hi,
i have same issue as here. I was trying to do everything same as here, but with same result - OpenAuto crash.
I was trying use Raspberry Pi 4 (I was also thinking about buy RPI 3B.. maybe i have to ?)
- What crankshaft version?
- Crankshaft OpenCarOS NG Alpha7.2 2021-02-09
- Screen, what i am using:
- LCD 5" Waveshare TFT (https://www.waveshare.com/wiki/5inch_HDMI_LCD)
I was using this drivers

[2021-07-27 18:54] jakka351 commented on #408
You can work around by using omxplayer in a service set to play video on boot

[2021-08-05 02:49] Stimpson-J-Cat commented on #474
I had this set up on a 3B+. I had a power supply set up on the accessory circuit in my truck that stayed powered for 7 min after shutdown. The Pi was connected to that. I had a relay set up that powered with ignition and set GPIO3 low (to ground from pin 9) and that would start the Pi, then when I shut the truck down, the relay would release, ground would drop off GPIO3 and the Pi would shut down,

[2021-08-11 22:22] nperrachione commented on #469
I have the same problem

[2021-08-12 06:54] DavideVairetti commented on #469
I solved the music volume problem with an usb audio card but I can't find any solution for the call audio. I read that is releated to some protocol used by google and I think it's a bug already know.

[2021-08-26 21:28] Stimpson-J-Cat opened #484 "Cannot get Ignition or Dimmer pins to work on RPi 4B"
- What phone do you have?  LG G8 ThinQ but problem exists without phone attached

- What OS version? Android 10, but not really relevant.

- What crankshaft version? Latest, from 2/2021

- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always repoducible. The bug is always reproducible. I have GPIO enabled, ignition pin set to GPIO3 and Day/Night

[2021-09-16 21:24] kabelklaus opened #485 "Crankshaft use wireless like carsifi"
is it possible to use crankshaft wirless like carsifi.
Or is it possible with the hotspot function by crankshaft?

[2021-09-18 09:19] matt2005 commented on #485
Whats carsifi?

[2021-09-19 07:36] kabelklaus commented on #485
It's an Adapter.
He is connect to android car by a normal phone cable and your phone by Bluetooth and wireless.
Now, your phone is automatically connect with Android car and you don't need a phone cable.

https://carsifi.com/

[2021-09-19 21:34] matt2005 commented on #485
you can skip the initial cable
https://github.com/opencardev/crankshaft/wiki/Android-Auto-Wifi#enabling-android-auto-over-wifi-with-crankshaft

[2021-09-19 23:53] kabelklaus commented on #485
I connect to crankshaft via the hotspot and start the Android auto server. The Android auto settings screen popped up at the beginning, but before I could confirm anything, I was suddenly on the phone's homescreen and crankshaft doesn't switch to Android auto mode.
Nothing happens at all. I can't even press the client connect button in crankshaft anymore.

[2021-09-19 23:55] kabelklaus opened #488 "Hotspot mode not directly usable."
SSID or network is only visible/connectable when I press from hotspot to client and back to hotspot in settings.

[2021-09-20 20:17] #488 closed, assigned to nobody

[2021-09-20 20:19] kabelklaus commented on #485
I don't know why, but now it works.

[2021-09-20 20:19] #485 closed, assigned to nobody

[2021-09-20 21:18] kabelklaus opened #489 "2 Finger zoom in and out"
I use the raspberry pi 7 Zoll Touch display but you can't use 2 fingers to zoom in and out in Google maps
Is it a problem from display or crankshaft?

[2021-09-21 23:10] matt2005 commented on #484
I've found the issue and am working on the fix.

[2021-09-21 23:10] matt2005 commented on #473
I've found the issue and am working on the fix.

[2021-09-21 23:10] matt2005 commented on #474
I've found the issue and am working on the fix.

[2021-09-23 06:45] matt2005 commented on #484
Please try alpha 7.4

[2021-09-23 06:46] matt2005 commented on #473
pleaase try alpha 7.4

[2021-09-23 17:04] matt2005 commented on #489
Multipoint touch is currently not supported

[2021-09-23 18:25] matt2005 commented on #484
I've tested the daylight pin to GPIO24 and it works on a RPI4B 8GB using the alpha 7.4.
Here is my output when the GPIO circuit is open.
[code]

[2021-09-24 14:45] hjaltioj commented on #408
How do you change to omxplayer? :)

[2021-09-29 15:28] tompeel opened #495 "Night mode brightness issues with official 7" rpi screen"
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

- What phone do you have - pixel 4XL

- What OS version - 11

- What crankshaft version - 7.2 & 7.4 on PRi3 and 4

- Steps to reproduce the bug, if you're planning to report a bug.

[2021-09-29 18:05] #467 closed, assigned to nobody

[2021-09-29 18:05] matt2005 commented on #467
See #495

[2021-09-29 18:06] matt2005 commented on #442
See #495

[2021-09-29 18:06] #442 closed, assigned to nobody

[2021-09-29 18:09] matt2005 commented on #495
So day/night mode is activated, but the brightness control is not working via the slider or via day/night mode?

[2021-09-29 18:11] matt2005 commented on #484
@Stimpson-J-Cat have you been able to retest?

[2021-09-29 18:12] matt2005 commented on #473
@CGFlyer85 have you been able to retest?

[2021-09-29 18:22] matt2005 commented on #495
Please can you provide a debug log from both pi3 and pi4

[2021-09-30 09:59] tompeel commented on #495
Will try to get a Debug log today.
But yes, the software is all seemingly happy under the hood, just the dimming of the screen goes too far and effectively turns the screen off.... (on a separate note that's a nice feature so if you park up for under an hour you could leave CS booted and turn off the screen to save loading time and battery)

It very much feels like Whats going on is the number (se

[2021-09-30 10:09] matt2005 commented on #495
My suspicion is that the backlight is turning off, I don't have the same screen so I'm going to have to rely on you for testing.

[2021-09-30 21:06] CGFlyer85 commented on #473
Hi @matt2005. Thanks for your Update.
Sorry I dint had time to test, lot of thing going on lately ^^'
I'll try next week and keep you updated. ;)

[2021-10-05 13:07] vedranius opened #497 "Pi-top and Crankshaft"
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

- What phone do you have?
Samsung Galaxy S9
- What OS version?
Latest
- What crankshaft version?
Latest
- Steps to reproduce the bug, if you're planning to report a bug. Please ind

[2021-10-05 20:36] matt2005 commented on #497
Try [Debug Mode](https://github.com/opencardev/crankshaft/wiki/Dev-Mode-and-Debug-Mode)

[2021-10-05 20:38] matt2005 commented on #474
Does the latest pre-release version work if you manually set it in the file

[2021-10-07 07:34] vedranius commented on #497
@matt2005 is there a way to install Crankshaft to Pi-Top OS?
Because in that way I don't need your image, and I can still use all the features from Pi-Top OS.
Is that possible?
Any steps how to do that?

Tnx!

[2021-10-09 09:43] matt2005 commented on #497
Crankshaft is the OS.

[2021-10-09 09:43] #497 closed, assigned to nobody

[2021-10-19 20:39] Leadtech1988 opened #501 "no Directories but music plays"
Hello

when connecting a usb stick called csstorage   with folder /Music  and then some /albums  it is listed as connected and music plays

But there are no directories shown when i press the button on display.

Music is playing and i can switch between the albums and tracks.

What i am doing wrong ?

format stick and done things like descripted several times

- What phone do you have? none - regu

[2021-10-20 17:20] Leadtech1988 commented on #501
solved

has to push stop button first

[2021-10-21 19:50] Leadtech1988 opened #502 "need some Explain GPIO mapping in CS"
Hello

Can anybody tell a noob like me tell me how to switch gpio in crankshaft ?

when i write in gpio2kbd.cfg   "nextsong 12"   it does not work when i put a cable from ground to gpio 12 / pin 32

but when i say in Menü  "CS ENV"   Rearcam pin (5)    it works when i bridge ground to gpio5 (29)

i want to add a rotaty encoder and 4 switches

Uses pi3 with piusv and hifiberry digi+   latest cranks

[2021-10-24 17:13] Milek7 commented on #451
I added some info to my website: https://milek7.pl/.stuff/galdocs/readme.md
Wireshark dissector might be useful, but you would need to add navigation message mapping to it.

[2021-11-19 19:01] Corwin616 commented on #450
please fix it

[2021-11-19 23:05] techdev5521 commented on #450
If @Jasoroony or @matt2005 are willing to help me understand the process I am happy to help with this. Possibly even look into QEMU setups for desktop builds.

[2021-11-20 01:28] ghost commented on #450
I followed this guide (it's for QT5.10.1 which you can't download anymore, but I just changed it to use 5.12.4):

https://github.com/MarkusIppy/QT5.x-raspbian-stretch

There are qmake.conf files there for the Pi2 & Pi3 - this is the one I created for the Pi0W:

[code]

These are the various changes to the configure command (in the guide) I had tried to get it working (top one is what I ended up us

[2021-11-20 22:02] matt2005 commented on #450
Yeah the issue is that QT needs recompiling, it's not a simple task, as when it was recompiled it for the pi4 that would have been when the pi2 support was lost.

I'll dig out my pi2 and kick off a compile job, from memory it took about 48hours.

[2021-11-21 23:45] Novocaine85 opened #514 "Use TSL2561 and RTC ds1307 using a different bus"
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

- What phone do you have?
Poco F3

- What OS version?
Android 11 / Miui 12.5.6 Global

- What crankshaft version?
Alpha-7.4 2021-09-22

- Steps to reproduce the bug, if you're plan

[2021-11-22 17:24] techdev5521 commented on #450
@matt2005 Would you be willing to document that process for me so I can learn? If you give me even a run down of commands and basic explanations I would be happy to flesh out a beginner friendly version of the process for docs.

[2021-11-23 18:06] techdev5521 opened #515 "Various issues with lightsensor.service using TSL2561"
### What phone do you have?
Google Pixel 5

### What OS version? / What crankshaft version?
Alpha 7.4

### Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always repoducible.
- _Results vary according to unknown factors._
- Connect TSL2561 to Pi

| TSL2561 Pin | | Pi Pin |
| - | - | - |
| VCC | `-->` | Pin 1 (3.3v) |
| GND | `-->` | Pin 9 (GND) |

[2021-11-23 18:06] techdev5521 commented on #515
This bug is both to report the issue as well as to document the work I am doing to address it.

[2021-11-23 18:23] techdev5521 commented on #514
This is a wonderfully informative bug report -- thanky you!

I'm working on an unrelated TSL2561 issue #515 and from that work I believe I know what is happening here. First I'll explain how things should work then why i think they aren't.

### How Things Should Work
On boot, there are two services that run relating to I2C and the light sensor:
- i2ccheck.service: Checks for various I2C devices.
-

[2021-11-23 18:59] Novocaine85 commented on #515
I would like to add that the automatic brightness is not working at all with the sensor. On previous release (I don't remember which one, but it was a very old one like 2019) was working good.

P.s.: As the author of this issue mentioned, randomly on startup the light sensor is not detected (the lux is not even display on the main screen.) The only way to make it work again is to re-pair up cranks

[2021-11-23 21:57] matt2005 commented on #450
@techdev5521 In a nut shell as i understand it QT is compiled in order to support eglfs so we can run without X. When the disk image is built it pulls the precompiled binaries from the prebuilts repo. The prebuilts repo contains the compile scripts in the buildsystem directory to build it all. I suspect when I upgraded from Stretch to Buster and recompiled for PI4 support it removed the pi2 suppor

[2021-11-23 23:21] matt2005 commented on #515
@techdev5521 I suspect the brightness issue is due to [Line 691](https://github.com/opencardev/prebuilts/blob/master/csmt/crankshaft#L691) and [Line 697](https://github.com/opencardev/prebuilts/blob/master/csmt/crankshaft#L697) as they are erroring as per your issue report
It should be reporting as an Integer but appear to be b30 so it may need a type conversion.

I suspect it got broken when i ad

[2021-11-23 23:35] matt2005 commented on #514
The service needs editing to support bus 1 and 2. [i2ccheck](https://github.com/opencardev/crankshaft/blob/cbb8e7995c8a3e9edc632b5ad2cf70f29342e283/stage3/03-crankshaft-base/files/opt/crankshaft/service_i2ccheck.sh#L29)

I can take a look in a few days, but feel free to submit a PR if you get it working

[2021-11-24 14:05] techdev5521 commented on #514
Hard coding buses 1 and 2 solves this particular problem however if someone were to make a bus on any port greater than 2 then we run into the same issue.

It may be more robust to first build a list of the enabled buses then check each of those buses for devices. The list of buses could theoretically be built by listing files in `/dev/` that match the regex pattern `^i2c-*` where the characters m

[2021-11-24 14:09] techdev5521 commented on #515
I agree @matt2005 -- my plan is to debug the service script by stopping the service and running the script as a standalone file to see where exactly issues are. I am confident I can resolve the issues with the TSL2561 but I do not have a TSL2591 and may need your help ensuring I don't broke that if you have one. I'll see what i can do later today.

[2021-11-24 18:21] matt2005 commented on #514
That's what I was thinking 👍

[2021-11-24 22:08] matt2005 commented on #484
Assuming fixed as no further comments

[2021-11-24 22:08] #484 closed, assigned to nobody

[2021-11-24 22:10] matt2005 commented on #474
Release 7.4 fixes GPIO, you should be able to manually enter it in the config file. Please reopen if it doesn't work.

[2021-11-24 22:10] #474 closed, assigned to matt2005

[2021-11-24 22:11] matt2005 commented on #473
Release 7.4 fixes this. Please reopen and attach debug if not.

[2021-11-24 22:11] #473 closed, assigned to nobody

[2021-11-24 22:12] matt2005 commented on #423
Closing as no further comments

[2021-11-24 22:12] #423 closed, assigned to matt2005

[2021-11-25 00:06] #501 closed, assigned to nobody

[2021-11-25 00:07] matt2005 commented on #495
appears to be related to #515
@tompeel Do you have the debug.zip

[2021-11-26 12:27] matt2005 commented on #514
I'm thinking it would be better to add a var in the crankshaft_env for i2c_rtcbus and fix the script to use that, that way it can hide the dtoverlay setup as it's handled by scripts.

[2021-11-27 09:01] #470 closed, assigned to nobody

[2021-11-27 09:01] #455 closed, assigned to nobody

[2021-11-27 09:01] #449 closed, assigned to nobody

[2021-11-27 09:01] #429 closed, assigned to nobody

[2021-11-27 09:01] #417 closed, assigned to nobody

[2021-11-27 09:01] #362 closed, assigned to nobody

[2021-11-27 09:01] #359 closed, assigned to nobody

[2021-11-27 09:01] #358 closed, assigned to nobody

[2021-11-27 09:04] #354 closed, assigned to nobody

[2021-11-27 09:04] #350 closed, assigned to nobody

[2021-11-27 09:04] #345 closed, assigned to nobody

[2021-11-27 09:04] #342 closed, assigned to nobody

[2021-11-27 09:15] #336 closed, assigned to nobody

[2021-11-27 09:15] #334 closed, assigned to nobody

[2021-11-27 09:15] #325 closed, assigned to nobody

[2021-11-27 09:15] #323 closed, assigned to nobody

[2021-11-27 09:15] #315 closed, assigned to nobody

[2021-11-27 09:15] #300 closed, assigned to nobody

[2021-11-27 09:15] #298 closed, assigned to nobody

[2021-11-27 09:15] #288 closed, assigned to nobody

[2021-11-27 09:15] #287 closed, assigned to nobody

[2021-11-27 09:15] #249 closed, assigned to nobody

[2021-11-27 09:15] #234 closed, assigned to nobody

[2021-11-27 09:15] #163 closed

[2021-11-27 09:15] #127 closed

[2021-11-27 09:15] #119 closed

[2021-11-27 09:15] #118 closed

[2021-11-27 09:15] #103 closed

[2021-11-27 09:15] #100 closed

[2021-11-27 09:15] #97 closed

[2021-11-27 09:15] #94 closed

[2021-11-27 09:15] #91 closed

[2021-11-27 09:15] #74 closed

[2021-11-27 09:16] #54 closed

[2021-11-27 09:16] #41 closed

[2021-11-27 09:16] #33 closed

[2021-11-27 09:24] matt2005 commented on #71
this is an issue with version pre52 so closing

[2021-11-27 09:24] #71 closed

[2021-11-27 09:26] matt2005 commented on #408
closing as same as #411

[2021-11-27 09:26] #408 closed, assigned to nobody

[2021-11-27 09:26] #404 closed, assigned to nobody

[2021-11-29 10:52] BodoMinea commented on #451
Thank you so much for this valuable resource! So, if my understanding is correct, I could study what packets carry this data that I'm interested in using Wireshark and then, for the implementation, I could use the approach described to proxy the AAP USB communication and intercept the info that I need for my secondary display.
Does that sound right?

[2021-12-08 12:22] matt2005 commented on #450
Currently compiling on pi2 should have something working by weekend. Let me know if you are able to test.

[2021-12-08 13:19] Corwin616 commented on #450
@matt2005 i will ready to test

[2021-12-09 14:12] OvidiuMav commented on #2
Works OK on RP3B, China HDMI touchscreen, Nokia 8.3, Android 11, through USB. Not connecting through BT or WiFi (did not find how to enable Head Unit Server)

[2021-12-09 23:23] matt2005 commented on #450
Try this from dev mode.
This will remove qt5 and replace it with the version i've just built for a pi2 (arm7). Once this is done you should be able to reboot and it should work.

[code]

[2021-12-27 08:51] roshanrp5 opened #521 "unfortunately crankshaft stopped when connected to 5inch display"
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

- Realme x

- Android 10

- latest

- connect 5inch lcd display
- install lcd5show driver using dev mode
- bootup the pi and it crashes
- bootup the pi and it crashes

  Warning: i

[2021-12-29 10:35] matt2005 commented on #521
What pi version?

[2021-12-30 21:56] k0bura commented on #515
My TSL2591 isn't adjusting brightness. I have the same log errors as @techdev5521

[2022-01-02 03:51] Corwin616 commented on #450
@matt2005 sorry for the delay, there was a lot of work, a business trip.
I downloaded the latest crankshaft img, downloaded and merged your archive, copied it to boot, turned on dev mode, booted from raspberry, removed qt5 folder and unpacked the archive to the root.
then I turned off dev mode and rebooted.
the graphical interface did not load.
how to enable display of detailed logs to see the err

[2022-01-03 07:30] dasmikko commented on #450
I also have a RPi2 1.1 that i would love to use for this. Is there any way i can help too?

Update: I just tested the solution from @matt2005 and didn't work for me either.

[2022-01-05 17:39] techdev5521 commented on #515
I found the issue in the Python script that handles light sensor values but I'm currently traveling without my hardware or stable Internet. I should be back to both next week and can do some testing / post updates.

[2022-01-06 13:26] XplicitkreationZ commented on #2
Works with Poco x3 NFC /custom Android 12 ROM
Raspberry pi 4 B 8Gb ram
Raspberry pi official 7inch touchscreen
Crankshaft NG OpenCarOS  Version ea9e288
Build date 2021-09-22

[2022-01-06 19:05] sjdean opened #522 "Building Docker Image"
Small problem with the Crankshaft Docker Build:

Setting up python3-colorzero (1.1) ...
Setting up python3-rpi.gpio (0.7.0-0.1~bpo10+4) ...
Setting up python3-spidev (20200602~200721-1~buster) ...
Setting up zip (3.0-11) ...
Setting up python3-gpiozero (1.6.2-1) ...
Setting up python-smbus:armhf (4.1-1) ...
Processing triggers for man-db (2.8.5-2) ...
[18:55:16] End /pi-gen/stage3/03-crankshaft-ba

[2022-01-07 20:19] maskaz opened #524 "Cam_overlay doesn't work"
Platform:
Raspberry Pi 3

Version checked:

2019-08-08-crankshaft-ng-E2B068B

With OpenGL enabled: * failed to add service - already in use?
With OpenGL Legacy enabled: Cannot open 'shader-MJPG.frag': 2, No such file or directory

Version checked:

2021-09-22-crankshaft-ng-ea9e288
With OpenGL enabled: * failed to add service - already in use?
With "dtoverlay=vc4-fkms-v3d" removed: Cannot open 'sha

[2022-01-08 08:36] matt2005 commented on #450
i'm rebuilding it as it silently errored with some of the modules so they are missing. I'm in process of sourcing a rpi2 of the correct revision to assist with the resolution

[2022-01-08 15:38] matt2005 commented on #450
I've got it working, I've rebuild qt5 and updated the config.txt. Once this is confirmed I'll sort out a image for pi2 or try to build an AIO image.

Update QT
[code]

Here is my working config.txt

[code]

[2022-01-10 07:30] dasmikko commented on #450
@matt2005 Tested your fix this morning, and sadly it still crashes for me on my RPi 2 v1.1

Tried using the latest crankshaft release.

Is there any changes to your crankshaft_env.sh file?

[2022-01-10 11:28] apichlinski opened #525 "OpenAuto crashed while startting OpenAuto in EGL Mode RPi 4B"
**Problem:**
Unfortunately, OpenAuto crashed while startting OpenAuto in EGL Mode.

**Logs:**
[debug.zip](https://github.com/opencardev/crankshaft/files/7840353/debug.zip)

**Hardware:**
Raspberry Pi 4B 2GB RAM
Waveshare LCD Touchscreen 5" 800x480
SD Card 32GB
Xiaomi Mi 9T

**Software:**
Crankshaft OpenCarOS NG Alpha-7.4 2021-09-22

**Settings:**
hdmi_group=2
hdmi_mode=87
hdmi_cvt 800 480 60 6 0 0

[2022-01-10 20:48] matt2005 commented on #450
What is the output for your pi when you run the following
[code]

Here is my output, (I've only removed the serial number)
[code]

[2022-01-10 20:55] matt2005 commented on #525
When in dev mode please run the following and share the output

This will create a debug log archive
[code]

This will attempt to run autoapp with more output
[code]

[2022-01-10 21:04] matt2005 commented on #522
How are you building it? The docker file is used to build the pi image.

[2022-01-10 21:05] dasmikko commented on #450
Here is the output:

[code]

[2022-01-10 21:08] matt2005 commented on #450
I've just written a crash diag page
can you try the following [crash diag](https://github.com/opencardev/crankshaft/wiki/Crash-diagnosis)

Baased on the output it looks like we have the same revision except mfg [rpi revisions](https://elinux.org/RPi_HardwareHistory)
<html>
<body>

a01041 | Q1 2015 | 2 Model B | 1.1 | 1 GB | (Mfg by Sony)
-- | -- | -- | -- | -- | --
a21041 | Q1 2015 | 2 Model B | 1

[2022-01-10 22:06] matt2005 commented on #450
Here are the steps I've taken.

1. Download crankshaft image
2. Flash SD card
3. Enable dev mode by updating /boot/crankshaft/crankshaft_env.sh DEV_MODE=1
4. Update /boot/config.txt
5. Boot pi
6. Edit /etc/resolv.conf and update nameserver to reflect correct DNS server ip
[code]
7. Update QT
[code]
8. Run autoapp it crashed
[code]
9. Link needed libraries
[code]
10. Run Autoapp
[code]

[2022-01-10 23:59] apichlinski commented on #525
I have to add that in my case GUI works only for X11 mode.

@matt2005  You can find my debuglog here:
[debug.zip](https://github.com/opencardev/crankshaft/files/7842623/debug.zip)
another debuglog you can find in my previous post.

autoapp response:
[code]

[2022-01-11 00:33] Corwin616 commented on #450
@matt2005 crankshaft work for me, thank you!

[2022-01-11 06:30] dasmikko commented on #450
@matt2005 She boots now!

[2022-01-11 11:57] matt2005 commented on #450
Good to hear, I'll look at building it into the next release.
If possible Please sign up as Patreon if you find this useful as I use the money to purchase devices to add support.

[2022-01-11 19:51] dasmikko commented on #450
Just a fyi, your fix also made it run on a raspberry pi zero 2 W!

And it actually runs pretty well too.

[2022-01-12 22:01] matt2005 commented on #525
You missed the s off eglfs

[2022-01-13 12:15] maskaz commented on #524
I have found workaround.
Those entries needed to be commented out:

[pi4]
dtoverlay=vc4-fkms-v3d
max_framebuffers=2

[all]
dtoverlay=vc4-fkms-v3d

Regards

[2022-01-13 12:18] maskaz commented on #521
I assume it is 5'' waveshare hdmi display?
I had the same issue.
If you do not need rotation, just add this entries to /boot/config.txt

max_usb_current=1
hdmi_group=2
hdmi_mode=87
hdmi_cvt 800 480 60 6 0 0 0
hdmi_drive=1

[2022-01-26 22:12] RuhanSA079 commented on #397
Hello dear friends.
Sorry for reviving this old thread.
I have found a way during boot, that it will show the splash during init, using official Raspberry Pi 7 inch DSI display with touch.
Follow the instructions here:
https://gitlab.com/DarkElvenAngel/initramfs-splash

@matt2005 Maybe you can have a look at this?
Mine works, on boot, (1 second or so, before kernel messages overwrite, until cranks

[2022-02-02 11:03] weareblahs commented on #2
Galaxy A52s 5G with preinstalled Android Auto + Raspberry Pi 4 Model B 4GB. Works with all three resolutions, touch screen not tested. (2021-09-22 build)

Update: One UI 4 / Android 12 not tested.

[2022-02-04 18:50] borsosgy opened #533 "Brightness problem"
- What phone do you have?  Samsung A52

- What OS version?  I use the image: 2021-09-22-crankshaft-ng-ea9e288.zip  + Official PI 7" Touch + RPI 3 B+

- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always repoducible. :
  If you set a brightness day more than 100, only the last two digits are set.
  199--> 99
  210--> 10
  255 --> 55

[2022-02-05 17:13] Pavlo458 commented on #441
Hello, I seem to have a similar issue. I've tried alpha 7, 7.1 and 7.2 and cannot rotate my waveshare 7.9 display on any of them. It is by default in portrait view and I want to have it in landscape.
Do you know what I should try?

[config.txt](https://github.com/opencardev/crankshaft/files/8008448/config.txt)

[2022-02-05 17:25] Pavlo458 opened #534 "Cannot rotate Waveshare 7.9 inch screeen"
Hello,
I have an issue with my screen orientation. I've tried alpha 7, 7.1 and 7.2 and cannot rotate my waveshare 7.9 display on any of them. It is by default in portrait view and I want to have it in landscape.
Do you know what I should try?

[config.txt](https://github.com/opencardev/crankshaft/files/8008466/config.txt)

[2022-02-06 00:12] TildenWinston commented on #450
For what it is worth I followed the above instructions but when trying to start the openauto server I was met with the following error.
[code]

Looking into it this seems to be an OpenGL related issue. I was able to get around it by enabling X11 mode in crankshaft_env.sh.

[2022-02-06 20:32] matt2005 commented on #450
You've got the fkms driver loading, you need to comment out the following line under [all].
[code]

[2022-02-07 23:31] htruong opened #536 "Website: Discontinue the use of Google Photos"
I no longer am active in the Crankshaft community due to personal reasons.

The Crankshaft pictures links to https://photos.app.goo.gl/81hQ6wTuLFNGmRHh2. This is my personal account's album that allows people to join. I created a long time ago to facilitate the open sharing of Crankshaft installations.

Recently, Google no longer allows us to store standard-res photos on their platform, making thi

[2022-02-08 12:19] techdev5521 commented on #536
Could the images be placed directly in the GitHub repo?

[2022-02-08 19:15] htruong commented on #536
We can but that'd be hard to add more pictures and add comments.

[2022-02-08 20:56] techdev5521 commented on #536
Ah -- I see what you mean. You want to keep both the pictures and the ability to comment. I would be willing to host a public image board. There's a self hosted software gist somewhere i can go to look for a software solution to this and set it up. It could be accessible under the Crankshaft domain too.

[2022-02-08 21:08] matt2005 commented on #536
maybe a jekyll hosted blog using github pages?
like https://github.com/michaelx/jekyll-photos

[2022-02-08 21:13] matt2005 commented on #515
@techdev5521 have you been able to fix the script?

[2022-02-08 21:16] matt2005 commented on #533
related to #515

[2022-02-09 21:01] techdev5521 commented on #515
@matt2005 Yes -- I've resolved this issue. I'll try to make a PR this weekend.

[2022-02-18 13:41] UnregisteredGuest commented on #2
It works with a Raspberry Pi 4B 8 GB inside of a [RasPad 3](https://www.sunfounder.com/products/raspberrypi-tablet-raspad), the only problem is that at the 720p and 1080p resolutions the UI gets squashed. (although that could just be me)

[2022-02-27 23:32] Gregregorovich commented on #2
Appears to be working (haven't yet mounted it and tested long-term / actual driving use):

Pixel 1 (root), latest (last) factory Android 10

Raspberry Pi Zero 2 W
Waveshare 7" 1024x600 Resistive IPS touch screen.

N.B.: The Pi Zero 2 W has the same amount of RAM (512 MB) as the Pi 3 A, so the GPU_MEM in /boot/crankshaft/crankshaft.env.sh needs to be changed to `gpu_mem=128`, like the Pi 3 A.

Touc

[2022-03-15 09:11] Gwx76 commented on #534
Hello, for rotation with cranshaft here is my config file to compare with yours, mine is very stable.
don't forget to update the "crankshaft_env.sh" file
### OpenAuto ###
# Start OpenAuto in X11 or EGL
# By default, EGL, but if you can't get it to work, do X11
START_X11=1
[config.txt](https://github.com/opencardev/crankshaft/files/8251743/config.txt)

[2022-03-17 21:25] F4u5t commented on #450
I got it working with X11, still errors otherwise...these command aborts on me
GST_DEBUG=3 /usr/local/bin/autoapp -platform eglfs

[2022-03-25 02:00] #495 closed, assigned to nobody

[2022-03-25 02:00] #469 closed, assigned to nobody

[2022-04-04 23:03] mostafaayesh commented on #522
You need to update submodules to get the prebuilts folder. After cloning you can run ```git submodule update --init``` in the cloned directory to get the prebuilts folder and it will have the .rules file.

[2022-04-08 15:44] techdev5521 commented on #533
I can recreate this issue but I don't think it is related to the light sensor.

[2022-04-09 21:12] matt2005 commented on #515
@techdev5521 any update on the pr for the fix?

[2022-04-11 13:13] techdev5521 commented on #515
Yes! I’m back from Colombia finally and can get that in this week.

Cheers,
Justin

[2022-04-18 18:43] czyzmichal opened #557 "Problem with DisplayLink USB Touchscreen"
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

- What phone do you have: POCO X3
- What OS version: Android 11
- crankshaft version: latest

I'm trying to run Crankshaft with usb touchscreen. I changed settings to X11 and added

[2022-05-06 14:45] KamiSchami opened #560 "No Update possible"
Hello, I would like to finally update my version from 2019.  He also loads the new version onto the USB stick, but then it doesn't go any further.  Do I still have to start the update?  After a reboot, the old version is still there.  Thanks for the help.  Greetings from Germany.

[2022-05-10 21:39] c0c4i opened #561 "Android Auto UI Update"
Hello, I saw that Google is updating Android Auto UI.
Are you planning to update it too?

Thank you so much!

https://www.theverge.com/2022/2/1/22912496/android-auto-coolwalk-ui-carplay-leaked-images

[2022-05-13 18:55] idev1990 opened #564 "Xx"
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

- What phone do you have?

- What OS version?

- What crankshaft version?

- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is alwa

[2022-05-14 02:13] #524 closed, assigned to nobody

[2022-05-15 01:36] idev1990 opened #565 "https://photos.app.goo.gl/sEfJRhgibt9R2Y1J8"

[2022-05-16 23:12] #564 closed

[2022-05-16 23:12] #565 closed

[2022-05-23 04:15] atomdude opened #567 "Raspberry Pi 2B"
i followed installation instructions, tried to install on Raspberry 2B and it failed saying that failed to start auto......

i read that crankshaft should work on raspeberry version 2B any ideas why?

[2022-06-03 20:28] matt2005 commented on #567
Could you try this image [pi2 image](https://github.com/opencardev/crankshaft/releases/download/untagged-abf8030d8708ae211544/2022-02-04-crankshaft-ng-496df4a-pi2.zip)

[2022-06-14 21:05] matt2005 commented on #536
Still investigating jeykll solution

[2022-06-25 22:24] matt2005 commented on #515
Any joy with the pr?

[2022-06-29 21:45] matt2005 commented on #536
I've copied the album as a stepping stone while a better solution is figured out

[2022-07-14 02:15] #534 closed, assigned to nobody

[2022-07-29 05:37] mayurkaul commented on #525
i have the similar issue with the exact same scenario. i did all the things that @apichlinski did too. But no help. i'm still getting  the dreaded

`Unfortunately, OpenAuto crashed while startting OpenAuto in EGL Mode.`

have attached my [debug.zip](https://github.com/opencardev/crankshaft/files/9216434/debug.zip) too

I have an EIZO display connected via HDMI. and i'm on Crankshaft OpenCarOS NG a

[2022-08-13 08:15] agoNITE opened #583 "OpenAuto crashed with RPi 3B+"
- What phone do you have?
N/A

- What crankshaft version?
[Crankshaft OpenCarOS NG alpha-7.5 2022-06-29](https://github.com/opencardev/crankshaft/releases/tag/csng-alpha7.5)

- Steps to reproduce the bug, if you're planning to report a bug. Please indicate whether the bug is always repoducible.
Flash the image to a SD card, and boot it. Yes.

After boot, I get the following error:

[code]

I'm usi

[2022-08-22 05:35] mario-correa commented on #583
same config here, and same error

[2022-08-23 12:52] oakwoodMatt commented on #583
Same config and error here. Cannot boot.

[2022-08-27 22:52] LukasKarer opened #585 "PI 4 2g"
Is there any chance to get crankshaft up and running on a pi 4 2g ram or is absolutely impossible?

[2022-08-29 23:05] deejaypro commented on #585
Did you try it?
It should run on it see #426

[2022-08-30 12:49] LukasKarer commented on #585
I tried, but it says "openauto crashed". No more info available.

[2022-08-30 16:47] techdev5521 commented on #515
Hey -- sorry for dropping off the planet. I'll make time to work on this this week and submit work. The fix is fairly simple.

[2022-09-02 18:18] sylwesterszczepaniak commented on #583
Same error. Perhaps I can help debug/fix?

[2022-09-03 08:08] mario-correa commented on #583
I fix it by downloading a previous release. It worked as expected.

[2022-09-04 21:05] dirtball-official commented on #583
same issue

[2022-09-04 21:20] matt2005 commented on #583
which image are you using? the release has 2 images.
If you get a chance could you try the pi2 image, as the images may have gotten mixed up during the build.

[2022-09-04 21:20] matt2005 commented on #585
which image are you using? the release has 2 images.
If you get a chance could you try the pi2 image, as the images may have gotten mixed up during the build.

[2022-09-04 22:56] dirtball-official commented on #583
The pi2 image booted up and seems to work

[2022-09-06 21:25] lazyjavvy commented on #567
@matt2005 Thank you very much for working on this issue.
The latest image for pi 2 (2022-02-04-crankshaft-ng-496df4a-pi2.zip) works for me after following the instructions for updating QT at https://github.com/opencardev/crankshaft/issues/450#issuecomment-1008029456
It seems that the Qt binaries in the release image are still for ARMv8.

[2022-09-07 20:47] matt2005 commented on #567
Ah, i think the build has mixed up the pi2 pi3/4 QT libraries. Can you try the other image? @lazyjavvy

[2022-09-07 21:11] matt2005 commented on #583
Great, i'm fixing the build issue and then I'll issue an updated image.

[2022-09-08 04:14] lazyjavvy commented on #567
The other image works for pi 2 model B v1.1

[2022-09-09 08:39] agoNITE commented on #583
Great! Luckily I didn't have any time to flash the previous build. So I'll be patiently waiting for the updated image, thanks!

[2022-09-10 10:22] CoordinatedEffort commented on #515
@techdev5521 just wanted to see if you've had a chance to implement a fix.

[2022-09-10 13:19] robertw commented on #567
could you please show me which pi 2 image works thank you

[2022-09-10 18:16] lazyjavvy commented on #567
[2022-02-04-crankshaft-ng-496df4a.zip](https://github.com/opencardev/crankshaft/releases/download/csng-alpha7.5/2022-02-04-crankshaft-ng-496df4a.zip) works for pi 2 model B v1.1

[2022-09-10 23:11] matt2005 commented on #567
I'm building the new images. They should be ready tomorrow. Hopefully the fix has resolved the filename mixup

[2022-09-11 02:14] #561 closed, assigned to nobody

[2022-09-11 02:14] #560 closed, assigned to nobody

[2022-09-11 02:15] #536 closed, assigned to nobody

[2022-09-11 02:15] #533 closed, assigned to nobody

[2022-09-11 02:15] #450 closed, assigned to nobody

[2022-09-11 12:45] robertw commented on #567
thank you guys got it working pi 2 !

[2022-09-12 10:57] matt2005 commented on #567
please try [2022.09.12.1](https://github.com/opencardev/crankshaft/releases/tag/v.2022.09.12.1) that should have the correct naming

[2022-09-12 10:57] matt2005 commented on #585
please try [2022.09.12.1](https://github.com/opencardev/crankshaft/releases/tag/v.2022.09.12.1) that should have the correct naming

[2022-09-12 10:57] matt2005 commented on #583
please try [2022.09.12.1](https://github.com/opencardev/crankshaft/releases/tag/v.2022.09.12.1) that should have the correct naming

[2022-09-12 10:59] matt2005 commented on #525
please try [2022.09.12.1](https://github.com/opencardev/crankshaft/releases/tag/v.2022.09.12.1) that should have the correct naming

[2022-09-13 07:50] sylwesterszczepaniak commented on #583
Works out of the box. Thank you!

[2022-09-13 19:49] matt2005 commented on #521
please try [2022.09.12.1](https://github.com/opencardev/crankshaft/releases/tag/v.2022.09.12.1) that should have the correct naming

[2022-09-21 04:55] atroph opened #594 "Night mode brightness issues with official 7" rpi screen"
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

- What phone do you have? Pixel 4 XL

- What OS version? 13

- What crankshaft version? 2022-09-11-crankshaft-ng-66525ef.zip
- rpi3
- 7" official touchscreen

- Steps to reproduce

[2022-09-21 05:10] atroph commented on #594
It also appears that when watching the brightness switch there is a "fade up" or "fade down" when changing the brightness.

This process flickers which makes me believe that the variable for this function is overflowing between 0 and 99 as the screen goes blank then settles on the number desired minus the first digit.

This can also be observed by:
-Tap the day/night button
-Immediately afterwards

[2022-09-26 19:01] lazyjavvy commented on #594
I observed the same issue on raspberry pi 2B with the official 7 inch touch screen. My temporarily workaround is to disable the "fade up" and "fade down" effects by replacing the while loops in /usr/local/bin/crankshaft from line 491 to 503 with `echo ${BR_NIGHT} > ${BRIGHTNESS_FILE}` and line 519 to 531 with `echo ${BR_DAY} > ${BRIGHTNESS_FILE}`.

[2022-09-29 08:36] matt2005 commented on #557
Can you try the latest release? Which pi are you using?

[2022-10-06 10:23] SaltySensei opened #598 "Openauto crashed when booting after installing drivers for SPI display"
If you need support: Please post on https://www.reddit.com/r/crankshaft/ as this is a bug tracker, not a support forum.

Note: Reporting issues not based on official published builds will be closed without any comment.

- What phone do you have?
S22 ultra

- What OS version?
Android 12 latest version

- What crankshaft version?
v2022.09.12.1

- Steps to reproduce the bug, if you're planning to rep

[2022-10-11 07:04] mzhur opened #601 "Incall audio routing don't work"
Hello all,
I install [Crankshaft OpenCarOS NG v2022.09.12.1] on Raspberry Pi 3b+ and connect to the Sony Xperia 10 IV
Connection is Ok and work perfect, but I can't understand: how it work audio routing.
On my another car (Skoda Octavia) with native android auto head, i connect phone by the USB cable and bluetooth and have a full work speekerphone.
In the case of CrancShaft NG, i connect to raspbe

[2022-10-11 08:35] atomdude commented on #567
ok i will try it, i am travelling now and will do in the next couple of weeks.

Thanks
________________________________
From: Matthew Hilton ***@***.***>
Sent: Saturday, 4 June 2022 6:28 AM
To: opencardev/crankshaft ***@***.***>
Cc: atomdude ***@***.***>; Author ***@***.***>
Subject: Re: [opencardev/crankshaft] Raspberry Pi 2B (Issue #567)

Could you try this image pi2 image<https://github.com/ope

[2022-11-17 15:28] bhamidipati-de commented on #2
Works with
s10+
Pi4 4GB
Raspberry PI 7" original LCD.

Q: Did any one try with Waveshare  IPS displays? I see above post, but not able to configure.
I am planning to get new one - but not sure it will work or will give me any issues. Since height is less (60mm + 260MM) it will look good on a dashboard!
[https://www.amazon.de/-/en/gp/product/B0B4S8S2CT/ref=ox_sc_act_title_1?smid=A3U321I9X7C9XA&th=1